@model String

<section style="border:none;border-radius:0px;background-size:contain;background:url('@Model')no-repeat;">
    <figure></figure>
    <input id="fileUpload" type="file" multiple="multiple" accept="image/x-png,image/jpeg">
</section>


