@model String
    <section>
        <figure></figure>
        <p>Загрузка файлов</p>
        <p><small>Перетащите ваши файлы в эту область!</small></p>
        <input id="fileUpload" type="file" multiple="multiple" accept="image/x-png,image/jpeg">
    </section>
<div class="error" style="display:block;">
    @Model
</div>

