@{
    ViewBag.Title = "Услуги Нанесение Деколь На Заказ В Москве: Цена, Прайс";
    ViewBag.metadesc = "Ищите где заказать нанесение деколь? Мы рады предложить услуги печати на деловой и рекламно полиграфической продукции! Профессионально, быстро и качественно!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>
<div itemscope itemtype="http://schema.org/Article" class="row">
    <meta itemprop="datePublished" content="2018-11-21" />
    <h1 itemprop="name" class="zagolovok">Надглазурная деколь</h1>
    <div class="main" style="color:#808080;">
        <div class="product-container">
            <div class="product-holder">
                <div class="viewText">
                    <article itemprop="articleBody">
                        <p>
                            Надглазурная деколь – это особая технология, позволяющая наносить изображения и логотипы на керамическую, стеклянную и фарфоровую продукцию. Широко применяется в подарочной и рекламной отрасли. Различные эмблемы, поздравительные тексты или рекламные посылы в первую очередь наносятся на посуду – чашки, блюдца и кружки.
                        </p>
                        <p>
                            Технология нанесения деколь заключается в нескольких этапах:
                        </p>
                        <ul class="editList editmargin">
                            <li>
                                Подготовительный этап, во время которого формируется трафарет – определяется цветовая гамма, размер картинки, при необходимости подбирается текст и шрифт;
                            </li>
                            <li>
                                Через трафарет затем продавливается краска на подготовленную заранее гуммированную бумагу;
                            </li>
                            <li>
                                Каждый слой краски должен высохнуть перед тем, как нанести новый;
                            </li>
                            <li>
                                После окончания нанесения всех слоев изображение покрывается специальным лаком;
                            </li>
                            <li>
                                Готовое изображение должно просохнуть, на что ему требуется около дня;
                            </li>
                            <li>
                                После полного высыхания изображение вымачивается в воде;
                            </li>
                            <li>
                                Исполнитель заказа прижимает бумагу к изделию, после чего аккуратно отделяя ее – ответственный момент, требующий щепетильного отношения, поскольку профессионалу необходимо внимательно следить за тем, насколько ровно наклеено изображение, и нет ли под ним воздуха;
                            </li>
                            <li>
                                Некоторое время изделие вместе с нанесенным рисунком должно обсохнуть, после чего отправиться в муфельную печь.
                            </li>
                        </ul>
                        <p>
                            Нанесение деколь на любой материал, будь то керамика, или стекло – это трудоемкий и кропотливый процесс, требующий особых навыков. Также в силу использования дорогостоящих материалов процесс считается дорогостоящим. Обширный ряд преимуществ оправдывает цену:
                        </p>
                        <ul class="editList editmargin">
                            <li>
                                Стойкость любого изображения – поскольку рисунок в буквальном смысле вжигается в поверхность изделия, вывести его оттуда очень трудно, но не стоит пренебрегать рекомендациями на счет запрета мытья посуды с деколью в посудомойке и абразивными веществами;
                            </li>
                            <li>
                                Уникальные цвета и возможность наложения необычных и красивых эффектов (золото, серебро, матовость) придают технологии особый шарм, учитывая даже возможное отклонение от обыкновенных цветов до 15-ти%;
                            </li>
                            <li>
                                Нанести изображение можно практически на любой участок и любого размера. Нельзя наносить изображение на внутреннюю сторону чашки или у каемки, поскольку краска не должна соприкасаться с едой или губами, а в остальном – рисунок может быть любого размера. Чтобы нанести рисунок внутри или на каемку, необходимо заказать услугу подглазурной деколи.
                            </li>
                        </ul>
                        <p>
                            Наша компания ЭдитПресс специализируется на печати рисунков и логотипов разнообразными способами на любой поверхности. Мы зарекомендовали себя как грамотные специалисты, знающие свое дело и выполняющие любые заказы точно в срок. Мы лояльно относимся к каждому клиенту, предлагаем выгодные и интересные решения, имеем устойчивый и оптимальный прайс.
                        </p>
                        <p>
                            Выполняем работу любого типа, чтобы заказать услугу нанесения надглазурной деколи, можете воспользоваться формой на сайте или позвонить по номеру телефона. Осуществляем доставку готовых изделий по всей России.
                        </p>
                    </article>
                </div>
                <a class="fancybox" rel="group" href="~/Images/Decal/1.jpg"><img src="~/Images/Decal/thumbs/1.png" alt="Деколь" /></a>
                <a class="fancybox" rel="group" href="~/Images/Decal/2.jpg"><img src="~/Images/Decal/thumbs/2.png" alt="Надглазурная Деколь" /></a>
                <a class="fancybox" rel="group" href="~/Images/Decal/3.jpg"><img src="~/Images/Decal/thumbs/3.png" alt="Что такое деколь" /></a>
                <a class="fancybox" rel="group" href="~/Images/Decal/4.jpg"><img src="~/Images/Decal/thumbs/4.png" alt="пример деколь фото" /></a>
                <a class="fancybox" rel="group" href="~/Images/Decal/5.jpg"><img src="~/Images/Decal/thumbs/5.png" alt="деколь фото" /></a>
                <a class="fancybox" rel="group" href="~/Images/Decal/6.jpg"><img src="~/Images/Decal/thumbs/6.png" alt="где применяют деколь" /></a>
                <a class="fancybox" rel="group" href="~/Images/Decal/7.jpg"><img src="~/Images/Decal/thumbs/7.png" alt="как выглядит деколь" /></a>
            </div>
            <div class="sideBar1">
                <div class="section1">
                    @Html.Partial("_PartialMenuSection")
                </div>
                <div class="sidebarHits">
                    @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
                </div>
            </div>
        </div>
    </div>
</div>
