@{
    ViewBag.Title = "Услуги Цифровой Печати В Москве: Типография, Прайс";
    ViewBag.metadesc = "Вам нужна цифровая печать? Мы рады предложить свои услуги печати на деловой и рекламно полиграфической продукции! Профессионально, быстро и качественно!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div itemscope itemtype="http://schema.org/Article" class="row">
    <meta itemprop="datePublished" content="2018-11-21" />
    <h1 itemprop="name" class="zagolovok">Цифровая печать</h1>
    <div class="main" style="color:#808080;">
        <div class="product-container">
            <div class="product-holder">
                <div class="viewText">
                    <article itemprop="articleBody">
                        <p>
                            Сувениры с логотипом компании способны сплотить коллективный дух и поднять командный настрой, также каждый клиент будет рад получить полезную вещицу в подарок, на которой будет размещен логотип компании. Пользуясь Вашими бизнес сувенирами, клиенты всегда будут помнить о Вашей компании, и обращаться к Вам в случае чего, а также привлекать людей из своего окружения. Чтобы реклама произвела достойное впечатление, необходимо приобрести не только качественную продукцию, но и найти место, где смогут быстро и первосортно напечатать Ваш логотип.
                        </p>
                        <p>
                            Полиграфия ЭдитПресс – это по-настоящему качественная цифровая печать на любой подходящей поверхности по доступной цене. Цифровая печать на сегодняшний день занимает главенствующие позиции в типографии. Такой метод значительно экономит время, в сравнении с офсетной печатью, поскольку не требует после печатных и дорогих до печатных процедур. Также цифровая печать имеет ряд преимуществ:
                        </p>
                        <ul class="editList editmargin">
                            <li>
                                Обладает высоким качеством, которое не уступает офсетной печати;
                            </li>
                            <li>
                                Большие возможности выбора – Вы можете напечатать на продукции любого типа;
                            </li>
                            <li>
                                Не требуется проведение долгих и дорогостоящих до печатных работ (как в офсетной печати);
                            </li>
                            <li>
                                Такой метод позволяет проводить персонализацию печатной продукции, в которую входит нумерация и другие услуги;
                            </li>
                            <li>
                                В макет можно вносить изменения в случае необходимости, в отличие от офсетной печати, которая производится по готовому и утвержденному макету без изменений;
                            </li>
                            <li>
                                Цветной логотип получается насыщенным и в необходимость ярким – цвета передаются до 100% точности, вплоть до полутонов и оттенков;
                            </li>
                            <li>
                                Качественность и детализация изображения, мелкого и крупного шрифта на высоте – готовый рисунок четкий и ничем не отличается от макета;
                            </li>
                            <li>
                                Разница в стоимости в сравнении с другими видами печати;
                            </li>
                            <li>
                                Есть возможность проводить любой вид после печатной доработки или обработки – тиснение, бюговка и т.д.
                            </li>
                        </ul>
                        <p>
                            Сегодня цифровая печать популярна благодаря широкой области применения. Данным методом пользуются как крупные компании для маркетинговых ходов в виде флаеров, брошюр или буклетов, так и физические лица для создания стикеров, плакатов и прочего. Высокое качество данной процедуры полноценно соответствует мировым стандартам и требованиям, что делает цифровую печать востребованной как для личных целей, так и для рекламных.
                        </p>
                        <h2 class="litePadding">
                            Преимущества сотрудничества с EditPress
                        </h2>
                        <p>
                            В нашей полиграфии Вы можете проверить качество печати – перед тем, как распечатать полный тираж, мы можем предоставить Вам одну-две копии для ознакомления. Такой ход полезен, поскольку Вы сможете оценить качество, цвета и при необходимости внести изменения в макет.
                        </p>
                        <p>
                            Мы предлагаем Вам быстро и качественно распечатать большой тираж любого логотипа оптом. На нашем сайте Вы найдете прайс-лист, а также всю необходимую информацию. Для детальной консультации или оформления заказа Вы можете позвонить по контактному номеру телефона, или обратиться к менеджеру в электронной форме.
                        </p>
                        <p>
                            Наша компания сотрудничает с квалифицированным и опытным персоналом, знающим оборудование, с которым приходится работать и все нюансы. Офис оборудован скоростными современными технологиями, позволяющими срочно выполнять большие заказы.
                        </p>
                        <p>
                            Осуществляется доставка готовой продукции по Москве и по всей России. У нас Вы можете заказать печать любого вида в необходимом для Вас тираже, мы выполним все качественно, профессионально и в кратчайшие сроки.
                        </p>
                    </article>

                </div>
            </div>
            <div class="sideBar1">
                <div class="section1">
                    @Html.Partial("_PartialMenuSection")
                </div>
                <div class="sidebarHits">
                    @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
                </div>
            </div>
        </div>
    </div>
</div>
