@{
    ViewBag.Title = "Услуги Нанесение Флекс (Flex) Печати В Москве: Цена";
    ViewBag.metadesc = "Вам нужна флекс печать? Мы рады предложить свои услуги печати на деловой и рекламно полиграфической продукции! Профессионально, быстро и качественно!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>

<div itemscope itemtype="http://schema.org/Article" class="row">
    <meta itemprop="datePublished" content="2018-11-21" />
    <h1 itemprop="name" class="zagolovok">Флекс</h1>
    <div class="main" style="color:#808080;">
        <div class="product-container">
            <div class="product-holder">
                <div class="viewText">
                    <article itemprop="articleBody">
                        <p>
                            Флекс печать – это пленка из высококачественного полиуретана с изображением, которое переносится на материал с помощью термопресса. Предварительно такая пленка изготавливается на специальном режущем плоттере. Чаще всего такая технология применяется для печати разнообразных изображений и логотипов на изделиях из ткани. Подходит ткань любого вида – синтетическая, хлопковая и т.д. Широкие возможности данного вида печати позволяют воплощать в жизнь самые смелые и яркие идеи, принт всегда выходит ярким и качественным. Картинка четкая, цветопередача и стойкость на высшем уровне – каждый человек, получивший в подарок вещь с принтом будет приятно удивлен не только красивым рисунком, но и высоким качеством печати.
                        </p>
                        <p>
                            Компания EditPress более двух лет профессионально занимается печатью логотипов и различных изображений на любых поверхностях несколькими видами печати:
                        </p>
                        <ul class="editList editmargin">
                            <li>
                                Цифровая;
                            </li>
                            <li>
                                Офсетная;
                            </li>
                            <li>
                                Ультрафиолетовая;
                            </li>
                            <li>
                                Шелкотрафаретная;
                            </li>
                            <li>
                                Вышивка;
                            </li>
                            <li>
                                Тапмопечать;
                            </li>
                            <li>
                                Тиснение;
                            </li>
                            <li>
                                Объемные наклейки;
                            </li>
                            <li>
                                Гравировка лазером и другие.
                            </li>
                        </ul>
                        <p>
                            Нанесение логотипа методом flex имеет ряд особенностей, выделяющих такую технику среди других:
                        </p>
                        <ul class="editList editmargin">
                            <li>
                                Флекс позволяет наносить изображения любого цвета с различными эффектами – визуализация металлика, имитация золочения или серебрения, пленка с эффектом хамелеон (смена цвета при смене освещения), голографические и светоотражающие рисунки, имитации разнообразных материалов вроде кожи, вязания, а также нанесение рисунка пленкой с блестками и множество других эффектов;
                            </li>
                            <li>
                                Уникальные свойства данного вида печати позволяют наносить рисунок на разные части одежды, тем самым создавая интересный и уникальный дизайн;
                            </li>
                            <li>
                                Такая пленка обладает высоким качеством – рисунок держится более 50-ти стирок, не трескается во время обработки высокими температурами (например, глажение), отлично передает цвет во время печати и не смазывает изображение, оставляя контуры четкими, а цвета яркими и насыщенными;
                            </li>
                            <li>
                                Срок выполнения услуги зависит от сложности работы – размера рисунка, его многогранности или места нанесения, а также количества копий. Рисунок всегда получается заметным и оригинальным, привлекающим взгляд, что хорошо подходит для рекламных целей.
                            </li>
                        </ul>
                        <p>
                            Компания ЭдитПресс выполнит заказ любой сложности в кратчайшие сроки по доступной цене.
                        </p>
                        <h2 class="litePadding">Преимущества сотрудничества с EditPress</h2>
                        <p>
                            Наша компания является лидером на российском рынке по оптовой печати на различной продукции. Наши принты обладают высоким качеством, поскольку мастерская оборудована новейшими технологиями, позволяющими быстро и высококачественно выполнить заказ любой сложности. Мастера, выполняющие заказ, имеют большой трудовой стаж и особый профессионализм, благодаря которым печать всегда на высоте.
                        </p>
                        <p>
                            Чтобы заказать печать флексом, Вы можете связаться с нашим менеджером по номеру телефона или электронному адресу, указанному на сайте. Также менеджер предоставит Вам необходимую консультацию по всем вопросам. Помимо высококачественной и быстрой печати большого тиража, наша компания предоставляет особую услугу – доставка готового заказа по всей России.
                        </p>
                    </article>
                </div>
                <a class="fancybox" rel="group" href="~/Images/Flex/1.jpg"><img src="~/Images/Flex/thumbs/1.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Flex/2.jpg"><img src="~/Images/Flex/thumbs/2.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Flex/3.jpg"><img src="~/Images/Flex/thumbs/3.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Flex/4.jpg"><img src="~/Images/Flex/thumbs/4.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Flex/5.jpg"><img src="~/Images/Flex/thumbs/5.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Flex/6.jpg"><img src="~/Images/Flex/thumbs/6.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Flex/7.jpg"><img src="~/Images/Flex/thumbs/7.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Flex/8.jpg"><img src="~/Images/Flex/thumbs/8.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Flex/9.jpg"><img src="~/Images/Flex/thumbs/9.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Flex/10.jpg"><img src="~/Images/Flex/thumbs/10.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Flex/11.jpg"><img src="~/Images/Flex/thumbs/11.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Flex/12.jpg"><img src="~/Images/Flex/thumbs/12.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Flex/13.jpg"><img src="~/Images/Flex/thumbs/13.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Flex/14.jpg"><img src="~/Images/Flex/thumbs/14.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Flex/15.jpg"><img src="~/Images/Flex/thumbs/15.png" alt="" /></a>
            </div>
            <div class="sideBar1">
                <div class="section1">
                    @Html.Partial("_PartialMenuSection")
                </div>
                <div class="sidebarHits">
                    @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
                </div>
            </div>
        </div>
    </div>
</div>
