@{
    ViewBag.Title = "Услуги Лазерной Гравировки В Москве: Стоимость, Цена";
    ViewBag.metadesc = "Вам нужна лазерная гравировка? Мы рады предложить услуги гравировки на деловой и рекламно полиграфической продукции! Профессионально, быстро и качественно!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>
<div itemscope itemtype="http://schema.org/Article" class="row">
    <meta itemprop="datePublished" content="2018-11-21" />
    <h1 itemprop="name" class="zagolovok">Лазерная гравировка</h1>
    <div class="main" style="color:#808080;">
        <div class="product-container">
            <div class="product-holder">
                <div class="viewText">
                    <article itemprop="articleBody">
                        <p>
                            Лазерная гравировка – это стойкий вид нанесения изображения или текста на любую поверхность – металлическую, кожаную, деревянную, стеклянную и т.д. Технология нанесения заключается в сфокусированном лазерном луче, заранее запрограммированном на необходимый рисунок. При помощи такого метода печати можно получить постоянное и качественное изображение на металле, пластике, коже – любом аксессуаре или предмете из любого материала. Если в качестве подарка используется дорогостоящая вещь, на которой Вы не хотите делать гравировку – мы можем предложить Вам пластиковые фольгированные или металлические шильды любого размера и цвета на выбор.
                        </p>
                        <h2 class="litePadding">Технология гравировки лазером</h2>
                        <p>
                            Немалым преимуществом является автоматизированность данной технологии, в отличие от других способов печати. В специально программе на компьютере формируется макет, а изделие закрепляется в установке для лазерной печати. При запуске луча по коду начинает испаряться верхний слой поверхности изделия, таким образом «прорезая» заранее выставленную глубину и ширину для рисунка.
                        </p>
                        <p>
                            Существует два вида лазера – газовые и твердотелые, и у каждого свое предназначение. Газовые подходят для нанесения гравировки податливых материалов – кожи, дерева, стекла и прочего. Твердотелый лазер предназначен для гравировки металлических предметов.
                        </p>
                        <h2 class="litePadding">Преимущества лазерной гравировки изделий</h2>
                        <p>
                            Немало компаний и крупных корпораций заказывают нанесение логотипа компании оптом на разнообразные предметы – в рекламных целях, также для подарков сотрудникам, клиентам и деловым партнерам. Также нередко заказывают гравировку на дорогих предметах для любимых людей по любому поводу – на юбилей, годовщину и другие поводы. Такая популярность лазерной гравировки не удивительна, поскольку у нее имеется ряд весомых преимуществ:
                        </p>
                        <ul class="editList editmargin">
                            <li>
                                Вечность нанесения – одно из многих положительных качеств данного вида печати. Поскольку картинка или текст буквально выжигается на поверхности, итоговый результат невозможно смыть или стереть. Именно по этой причине гравировку нужно доверять профессионалам из ЭдитПресс, проверенных временем и множеством удачно выполненных заказов;
                            </li>
                            <li>
                                Готовое изделие после гравировки имеет такой внешний вид, будто продавалось уже с гравировкой, и не вызывает сомнений на счет качества или уместности, если надпись или эмблема были размещены грамотно и гармонично. При заказе услуги учитывайте, что выбрать цвет картинки или надписи возможности не представляется, поскольку цвет напрямую зависит от материала;
                            </li>
                            <li>
                                Помимо больших оптовых заказов есть возможность заказать небольшой тираж, поскольку такой метод не требует длительной допечатной подготовки. Печать осуществляется в короткие сроки, но при условии сложных форм изделий для печати на больших партиях срок может незначительно увеличиться;
                            </li>
                            <li>
                                Оптом – дешевле всегда, в том числе и в компании ЭдитПресс. Стоимость услуги напрямую зависит от площади и структуры изделия. Выгодно будет заказать тираж от 50-ти копий, но и благодаря лояльной политике нашей компании, маленькие партии имеют оптимальные цены.
                            </li>
                        </ul>
                        <p>
                            Компания EditPress также предлагает доставку готовой партии изделий по всей России.
                        </p>
                    </article>
                </div>
                <a class="fancybox" rel="group" href="~/Images/LaserEnrgaving/1.jpg"><img src="~/Images/LaserEnrgaving/thumbs/1.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/LaserEnrgaving/2.jpg"><img src="~/Images/LaserEnrgaving/thumbs/2.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/LaserEnrgaving/3.jpg"><img src="~/Images/LaserEnrgaving/thumbs/3.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/LaserEnrgaving/4.jpg"><img src="~/Images/LaserEnrgaving/thumbs/4.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/LaserEnrgaving/5.jpg"><img src="~/Images/LaserEnrgaving/thumbs/5.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/LaserEnrgaving/6.jpg"><img src="~/Images/LaserEnrgaving/thumbs/6.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/LaserEnrgaving/7.jpg"><img src="~/Images/LaserEnrgaving/thumbs/7.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/LaserEnrgaving/8.jpg"><img src="~/Images/LaserEnrgaving/thumbs/8.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/LaserEnrgaving/9.jpg"><img src="~/Images/LaserEnrgaving/thumbs/9.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/LaserEnrgaving/10.jpg"><img src="~/Images/LaserEnrgaving/thumbs/10.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/LaserEnrgaving/11.jpg"><img src="~/Images/LaserEnrgaving/thumbs/11.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/LaserEnrgaving/12.jpg"><img src="~/Images/LaserEnrgaving/thumbs/12.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/LaserEnrgaving/13.jpg"><img src="~/Images/LaserEnrgaving/thumbs/13.png" alt="" /></a>
            </div>
            <div class="sideBar1">
                <div class="section1">
                    @Html.Partial("_PartialMenuSection")
                </div>
                <div class="sidebarHits">
                    @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
                </div>
            </div>
        </div>
    </div>
</div>
