@{
    ViewBag.Title = "Услуги Офсетной Печати В Москве: Типография, Прайс";
    ViewBag.metadesc = "Вам нужна офсетная печать? Мы рады предложить свои услуги печати на деловой и рекламно полиграфической продукции! Профессионально, быстро и качественно!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div itemscope itemtype="http://schema.org/Article" class="row">
    <meta itemprop="datePublished" content="2018-11-21" />
    <h1 itemprop="name" class="zagolovok">Офсетная печать</h1>
    <div class="main" style="color:#808080;">
        <div class="product-container">
            <div class="product-holder">
                <div class="viewText">
                    <article itemprop="articleBody">
                        <p>
                            На сегодняшний день в мире существует множество разнообразных компаний и фирм, и неудивительно, что офсетная печать настолько востребована, ведь нанести рекламный логотип на любую поверхность способом офсетной печати будет куда разумнее. Такой вид печати отличается сравнительно низкой стоимостью и высоким качеством – даже самые маленькие детали и буквы будет отчетливо видно. Такой вид работы выполняется на любом материале, от картона и пластика до винила, металла. Офсетная печать также популярна благодаря своим достоинствам:
                        </p>

                        <ul class="editList editmargin">
                            <li>
                                Качественность;
                            </li>
                            <li>
                                Экономия – много экземпляров за короткие сроки по доступной цене;
                            </li>
                            <li>
                                Четкость передачи текста и изображения;
                            </li>
                            <li>
                                Детализированность;
                            </li>
                            <li>
                                Высокий процент передачи цветов вплоть до полутона.
                            </li>
                        </ul>
                        <p>
                            Принцип процедуры состоит в предварительной переноске изображения на заранее подготовленную и обработанную пластину. Затем офсетный цилиндр переносит изображение или текст на обрабатываемую поверхность. Офсетный принт также предоставляет возможность печати полноцветной, в которой преобладают четыре цвета (желтый, черный, фиолетовый и голубой).
                        </p>
                        <p>
                            Выгодной такая процедура считается количеством от тысячи экземпляров. Это связано с некоторыми деталями, которые являются обязательной частью полиграфии:
                        </p>
                        <ul class="editList editmargin">
                            <li>
                                Разрабатывается в электронном виде макет проекта;
                            </li>
                            <li>
                                Готовое изображение выводится в материальную форму;
                            </li>
                            <li>
                                Принтеры настраиваются под работу с определённым макетом.
                            </li>
                        </ul>
                        <p>
                            Стоимость работы рассчитывается за количество – чем больше копий, тем дешевле единица – оптом выгоднее.
                        </p>
                        <h2 class="litePadding">
                            Преимущества сотрудничества с EditPress
                        </h2>
                        <p>
                            В типографии ЭдитПресс Вы можете заказать услуги печати разнообразных типов на любых поверхностях:
                        </p>
                        <ul class="editList editmargin">
                            <li>
                                Печать рекламных логотипов выполняется чаще всего с помощью листовых машин, строго соответствуя необходимым стандартам качества;
                            </li>
                            <li>
                                Печать на брендинговой продукции – буклеты, плакаты, календари, открытки, брошюры и многое другое.
                            </li>
                        </ul>
                        <p>
                            Офсетная печать уже долгое время является востребованной и популярной услугой для каждой крупной корпорации. Фабрика ЭдитПресс предоставляет самые разнообразные услуги по печати любого типа на любой поверхности. Наши опытные сотрудники выполнят любой заказ высококачественно и точно в срок. Наш офис оборудован мощной современной техникой, позволяющей качественно и срочно выполнять огромные тиражи работ. Также у нас в наличии машины для пост-обработки – ламинирования, сшивания или склеивания, а также других заключительных работ.
                        </p>
                        <p>
                            Наши итоговые работы – это качественная и детализированная картинка или текст. Ваша компания не пострадает от некачественной рекламы и не понесет убытки, наши специалисты знают свое дело и тщательно следят за каждым экземпляром. На готовой продукции Вы не найдете смазанного текста или рисунка, цветовых неточностей или не допечатанных мест. Яркие краски, идеальный принт на высококачественном материале привлечет к Вашей компании множество клиентов. Вы можете использовать уже готовые логотипы, или обратиться к нашему менеджеру, который сможет подсказать верные решения.
                        </p>
                        <p>
                            Прайс на все услуги находится на сайте, или Вы можете позвонить нам по номеру контактного телефона для более детальной консультации по любым интересующим Вас вопросам. Лояльное отношение к каждому клиенту и доступные цены являются неотъемлемой частью нашей компании. Также возможна доставка готовой продукции в любое удобное для Вас время по Москве и по всей России.
                        </p>
                    </article>
                </div>
            </div>
            <div class="sideBar1">
                <div class="section1">
                    @Html.Partial("_PartialMenuSection")
                </div>
                <div class="sidebarHits">
                    @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
                </div>
            </div>
        </div>
    </div>
</div>
