@{
    ViewBag.Title = "Тампопечать";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>
<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div style="padding:5px 15px 20px 15px;">
                <p > Тут мы рассмотрим, пожалуй, самый популярный способ нанесения логотипов и рекламных сообщений на бизнес – подарки. При тампопечати с помощью специального тампона с печатной формы краска переносится на нужное вам изделие. Прежде всего, тампопечать лучше всего подходит для изделий из пластика и ПВХ (брелоки, ручки, флешки и т.д.), но в некоторых случаях переносить изображение с помощью тампопечати можно и на деревянную поверхность, если в этом случае нельзя работать с лазером (причина тому может быть лаковое покрытие дерева).</p>

                <h3>Технология тампопечати</h3>
                <p >Для начала происходит изготовление специальной печатной формы ( изображение будущего отпечатка логотипа или рекламного сообщения вдавливаются в печатную форму). Далее на печатную форму необходимо нанести краску, лишняя краска удаляется ножом. Теперь непосредственно можно перейти к самой тампопечати. Специальный тампон из силикона прикладывается сначала  к печатной форме, а затем к изделию. Таким образом изображение переносится на нужное нам изделие, теперь его необходимо только просушить. Нанесение готово.</p>

                <h3>Тампопечать для изделий из пластика (коды нанесения А1 и А2)</h3>
                <p >Тампопечать идеально подходит для нанесения логотипов и рекламных сообщений для промопродукции с плоской и выпуклой поверхностью : брелоков, ручек, зажигалок и т.д. Это самый простой вид тампопечати (код нанесения А1). Если же для переноса изображения требуется специальная настройка оборудования , либо площадь поверхности достаточно большая, такой вид тампопечати будет стоить дороже (код нанесения А2).</p>
                <h3>Тампопечать для наручных часов (код нанесения WA)</h3>
                <p >Единственное отличие данного вида тампопечати заключается в том, что печать на циферблат требует дополнительной разборки и сборки часов. Выполняет эту работу только подготовленный специалист.</p>
                <h4 >Если вы выбрали способ нанесения изображения тампопечатью, то вас ждут следующие преимущества</h4>
                <div class="preim">
                    <ol class="confidencial">
                        <li >Стойкость нанесения. Стойкое нанесение тампопечати заключается в том, что растворитель, который входит в состав краски, разъедает поверхность изделия и соединяется с частичками пластика. Путем этого смешивания образуется однородная масса и изображение на изделии будет радовать вас долго. Стоит отметить, что полноцветное изображение не передается, для этого лучше подходит УФ-печать. Мы пытаемся максимально приблизиться к нужным вам цветам.</li>
                        <li >
                            С помощью тампопечати можно очень точно воспроизвести мельчайшие элементы изображения. Мы наносим даже самые маленькие элементы изображения. Толщина линии может достигать 0,1 мм.<br /><br />Максимальные площади нанесения:
                            <ul class="editList" style="margin:10px 0px 10px 30px;">
                                <li >изображение должно вписываться в круг диаметром 7,5 см</li>
                                <li >максимально доступный размер изображения на ручках 55х7 мм</li>
                                <li >круговая печать невозможна при нанесении изображения тампопечатью</li>
                            </ul>
                        </li>
                        <li >Круговая печать невозможна при нанесении изображения тампопечатью</li>
                        <li >Относительно недорогая цена печати. Экономически выгодна такая печать даже при тираже от 300 – 500 шт. изделий.</li>
                    </ol>
                </div>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/1.jpg"><img src="~/Images/PadPrinting/thumbs/1.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/2.jpg"><img src="~/Images/PadPrinting/thumbs/2.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/3.jpg"><img src="~/Images/PadPrinting/thumbs/3.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/4.jpg"><img src="~/Images/PadPrinting/thumbs/4.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/5.jpg"><img src="~/Images/PadPrinting/thumbs/5.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/6.jpg"><img src="~/Images/PadPrinting/thumbs/6.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/7.jpg"><img src="~/Images/PadPrinting/thumbs/7.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/8.jpg"><img src="~/Images/PadPrinting/thumbs/8.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/9.jpg"><img src="~/Images/PadPrinting/thumbs/9.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/10.jpg"><img src="~/Images/PadPrinting/thumbs/10.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/11.jpg"><img src="~/Images/PadPrinting/thumbs/11.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/12.jpg"><img src="~/Images/PadPrinting/thumbs/12.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/13.jpg"><img src="~/Images/PadPrinting/thumbs/13.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/14.jpeg"><img src="~/Images/PadPrinting/thumbs/14.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/15.jpg"><img src="~/Images/PadPrinting/thumbs/15.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/16.jpg"><img src="~/Images/PadPrinting/thumbs/16.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/17.jpg"><img src="~/Images/PadPrinting/thumbs/17.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/18.jpg"><img src="~/Images/PadPrinting/thumbs/18.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/19.jpg"><img src="~/Images/PadPrinting/thumbs/19.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/20.jpg"><img src="~/Images/PadPrinting/thumbs/20.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/21.jpg"><img src="~/Images/PadPrinting/thumbs/21.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/22.jpg"><img src="~/Images/PadPrinting/thumbs/22.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/23.jpg"><img src="~/Images/PadPrinting/thumbs/23.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/24.jpg"><img src="~/Images/PadPrinting/thumbs/24.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/25.jpg"><img src="~/Images/PadPrinting/thumbs/25.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/PadPrinting/26.jpg"><img src="~/Images/PadPrinting/thumbs/26.png" alt="" /></a>
            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
            </div>
        </div>
    </div>
</div>

