@{
    ViewBag.Title = "Услуги Нанесение Печати Шелкографией В Москве: Цена";
    ViewBag.metadesc = "Вам нужна печать шелкографией? Мы рады предложить свои услуги печати на деловой и рекламно полиграфической продукции! Профессионально, быстро и качественно!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>

<div itemscope itemtype="http://schema.org/Article" class="row">
    <meta itemprop="datePublished" content="2018-11-21" />
    <h1 itemprop="name" class="zagolovok">Шелкография</h1>
    <div class="main" style="color:#808080;">
        <div class="product-container">
            <div class="product-holder">
                <div class="viewText">
                    <article itemprop="articleBody">
                        <p>
                            Шелкотрафаретная печать, или как ее принято называть – шелкография – один из распространенных методов печати, во время которого изображение наносится на поверхность с помощью вдавливания краски прокатыванием специального ракеля сквозь сеточный трафарет. Изготовление сеток происходит из специального материала с микроотверстиями, называемыми ячейками, в процессе работы который пропитывается фоточувствительной краской, которая полимеризируется при контакте со светом. В процессе засвечивания полимеризированного состава вещества закрывают собой ячейки, а не реагирующие частицы смываются раствором, после чего на сетке появляется форма для последующей печати, пропускающей красящие материалы в необходимых местах.
                        </p>
                        <p>
                            Трафаретный метод дает возможность наносить несколько цветов на одной области нанесения. Чаще всего при таком методе пропечатывается около 5-7ми цветов. Каждый оттенок требует отдельного нанесения, после того, как предыдущий высохнет.
                        </p>
                        <p>
                            Печать шелкографией на любой поверхности Вы можете заказать в нашей компании EditPress. Печатаем на материалах:
                        </p>
                        <ul class="editList editmargin">
                            <li>
                                Любой вид бумаги;
                            </li>
                            <li>
                                Картон разнообразной плотности;
                            </li>
                            <li>
                                Пленка (самоклеящаяся, виниловая, оракал и т.д.);
                            </li>
                            <li>
                                Текстиль (футболки, кепки, майки, куртки, фартуки, рубашки и т.д.);
                            </li>
                            <li>
                                Разнообразные виды пластика;
                            </li>
                            <li>
                                Трафаретный метод печати на различных деревянных изделиях;
                            </li>
                            <li>
                                Работа с металлическими изделиями;
                            </li>
                            <li>
                                Шелкография на стекле;
                            </li>
                            <li>
                                Работа с упаковочными материалами (пакет, эко-сумка, скотч, коробка и т.д.);
                            </li>
                            <li>
                                Кожаные изделия (кошельки, папки, брелоки и т.д.);
                            </li>
                            <li>
                                И множество других материалов.
                            </li>
                        </ul>
                        <p>
                            Каждый материал требует специальной краски, которая должна обладать всеми необходимыми качествами для долгой службы на определенном материале. Шелкотрафаретная печать позволяет воплощать в жизнь самые смелые идеи и поддерживает широкий цветовой спектр. Уникальность и особенность данного метода позволяет также создавать индивидуальные цвета для печати логотипа на заказ. Весомое преимущество использования данного метода печати является возможность добавлять яркие запоминающиеся эффекты – глиттер, флуоресцентная или металлическая краска (серебрение, золочение), возможность сделать бархатное или фольгированное изображение и так далее. Также немаловажным является преимущество в виде высокого качества исходного материала.
                        </p>
                        <h2 class="litePadding">Преимущества сотрудничества с ЭдитПресс</h2>
                        <p>
                            Наша компания занимается оптовой печатью на рекламных и маркетинговых аксессуарах уже более 2-х лет. Рабочее пространство оборудовано мощнейшими современными принтерами и техникой, позволяющей в короткие сроки выполнять огромные тиражи любого типа печати качественно и профессионально по доступной цене.
                        </p>
                        <p>
                            Наши сотрудники имеют большой опыт работы и в точности знают свое дело, выполняют все услуги качественно и точно в указанные сроки.
                        </p>
                        <p>
                            Перед тем, как заказывать большой тираж, Вам необходимо проверить правильность своего макета и согласовать его, чтобы работа не делалась впустую. При необходимости наши менеджеры могут подсказать Вам верные решения, проконсультируют по любому вопросу. Стоимость можете узнать на нашем сайте или в телефонном режиме.
                        </p>
                        <p>
                            Главный офис находится в Москве, производится доставка готового материала по всей России. Мы гарантируем высокое качество материалов, четкость и насыщенность печати, долгую службу принта и лояльное отношение к каждому клиенту.
                        </p>
                    </article>
                    <a class="fancybox" rel="group" href="~/Images/Serigraphy/1.jpg"><img src="~/Images/Serigraphy/thumbs/1.png" alt="" /></a>
                    <a class="fancybox" rel="group" href="~/Images/Serigraphy/2.jpg"><img src="~/Images/Serigraphy/thumbs/2.png" alt="" /></a>
                    <a class="fancybox" rel="group" href="~/Images/Serigraphy/3.jpg"><img src="~/Images/Serigraphy/thumbs/3.png" alt="" /></a>
                    <a class="fancybox" rel="group" href="~/Images/Serigraphy/4.jpg"><img src="~/Images/Serigraphy/thumbs/4.png" alt="" /></a>
                    <a class="fancybox" rel="group" href="~/Images/Serigraphy/5.jpg"><img src="~/Images/Serigraphy/thumbs/5.png" alt="" /></a>
                    <a class="fancybox" rel="group" href="~/Images/Serigraphy/6.jpg"><img src="~/Images/Serigraphy/thumbs/6.png" alt="" /></a>
                    <a class="fancybox" rel="group" href="~/Images/Serigraphy/7.jpg"><img src="~/Images/Serigraphy/thumbs/7.png" alt="" /></a>
                    <a class="fancybox" rel="group" href="~/Images/Serigraphy/8.jpg"><img src="~/Images/Serigraphy/thumbs/8.png" alt="" /></a>
                </div>
            </div>
            <div class="sideBar1">
                <div class="section1">
                    @Html.Partial("_PartialMenuSection")
                </div>
                <div class="sidebarHits">
                    @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
                </div>
            </div>
        </div>
    </div>
</div>
