@{
    ViewBag.Title = "Нанесение Логотипа Тиснением На Заказ В Москве: Цена";
    ViewBag.metadesc = "Вам нужна печать теснением? Мы рады предложить свои услуги печати на деловой и рекламно полиграфической продукции! Профессионально, быстро и качественно!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>
<div itemscope itemtype="http://schema.org/Article" class="row">
    <meta itemprop="datePublished" content="2018-11-21" />
    <h1 itemprop="name" class="zagolovok">Тиснение</h1>
    <div class="main" style="color:#808080;">
        <div class="product-container">
            <div class="product-holder">
                <div class="viewText">
                    <article itemprop="articleBody">
                        <p>
                            Тиснение – это один из процессов печати надписи или логотипа на изделие при помощи пресса охлажденной или разгоряченной фольги разнообразных цветов, а также рельефные компоненты на разнообразных сувенирных изделиях (книги, визитки, открытки) либо же на изделиях из натуральной кожи, кожзама или пластика – сувенирных изделий.
                        </p>
                        <p>
                            Компания ЭдитПресс профессионально занимается нанесением логотипов тиснением уже более двух лет. Мы предлагаем следующие виды тиснения:
                        </p>
                        <ul class="editList editmargin">
                            <li>
                                Тиснение фольгой происходит нагреванием клише и материала, на котором печатается эмблема, после чего протягивается фольга (любой из цветов на выбор: серебристый, золотистый, бронзовый), участок прессуется. При нагреве и прессе фольга отделяется от пленки и приклеивается к основе изделия клеевой стороной. Такие манипуляции возможны на различных материалах – кожа, бумага, пластик и т.д.;
                            </li>
                            <li>
                                Блинтовое, или так называемое слепое тиснение – нанесение при помощи того же клише применяется для того, чтобы получить экземпляр с полированной поверхностью (к примеру, кожаные изделия или текстурная бумага). Для приобретения глянцевого вида нередко применяют разнообразные полимерные пленки;
                            </li>
                            <li>
                                Эмбросирование, или конгревное тиснение – выпуклый рельефный рисунок или текст на изделии, который достигается при помощи матрицы и контрматрицы клише – предмет обработки находится между ними в процессе;
                            </li>
                            <li>
                                Фольгированное эмбросирование – процесс, при котором есть возможность комбинировать два вида тиснения. В зависимости от материала, есть возможность сделать изображение в один горячий пресс – фольга к углублению припечатывается моментально. Также есть возможность изначально провести фольгированное тиснение, а после – конгревное;
                            </li>
                            <li>
                                Обратный конгрев, также называемый дебосированием – создается впалое изображение или текст;
                            </li>
                            <li>
                                Также есть возможность создания логотипов на изделии прессом голографической пленки, что практически идентично работе с фольгой;
                            </li>
                            <li>
                                Имитация принта или текстурирование – производится имитирование крокодильей или змеиной кожи на изображении, подходит для кожаных изделий и из кожного заменителя (папка, ежедневник и т.д.).
                            </li>
                        </ul>
                        <h2 class="litePadding">Преимущества тиснения</h2>
                        <p>
                            У технологии имеется ряд весомых преимуществ, из-за которых стоит заказать услугу:
                        </p>
                        <ul class="editList editmargin">
                            <li>
                                Долговечность услуги – тиснение сравнительно с лазерной гравировкой, поскольку печать таким способом гарантирует надпись или рисунок на изделии навсегда. После завершения процедуры логотип ничем не смыть, не оттереть;
                            </li>
                            <li>
                                Готовое изображение на изделии всегда смотрится органично. У человека, получившего в подарок вещь с тиснением, не будет сомнений в том, что Вы купили предмет уже с готовой надписью. Чтобы добавить больше элегантности, можно провести процедуру фольгирования;
                            </li>
                            <li>
                                Возможность нанесения большого изображения, но не более 50кв см. Для работ с большим размером требуются подготовительные работы, которые увеличивают цену услуги.
                            </li>
                        </ul>
                        <p>
                            Чтобы оформить заказ в компании ЭдитПресс, позвоните по номеру телефона, указанному на сайте, или напишите на наш электронный адрес. Осуществляется доставка готовой продукции по всей России.
                        </p>
                    </article>
                </div>
                <a class="fancybox" rel="group" href="~/Images/Stamping/1.jpg"><img src="~/Images/Stamping/thumbs/1.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Stamping/2.jpg"><img src="~/Images/Stamping/thumbs/2.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Stamping/3.jpg"><img src="~/Images/Stamping/thumbs/3.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Stamping/4.jpg"><img src="~/Images/Stamping/thumbs/4.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Stamping/5.jpg"><img src="~/Images/Stamping/thumbs/5.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Stamping/6.jpg"><img src="~/Images/Stamping/thumbs/6.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Stamping/7.jpg"><img src="~/Images/Stamping/thumbs/7.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Stamping/8.jpg"><img src="~/Images/Stamping/thumbs/8.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Stamping/9.jpg"><img src="~/Images/Stamping/thumbs/9.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Stamping/10.jpg"><img src="~/Images/Stamping/thumbs/10.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Stamping/11.jpg"><img src="~/Images/Stamping/thumbs/11.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/Stamping/12.jpg"><img src="~/Images/Stamping/thumbs/12.png" alt="" /></a>

            </div>
            <div class="sideBar1">
                <div class="section1">
                    @Html.Partial("_PartialMenuSection")
                </div>
                <div class="sidebarHits">
                    @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
                </div>
            </div>
        </div>
    </div>
</div>
