@{
    ViewBag.Title = "Услуги Печати На Кружках Сублимацией В Москве: Цена";
    ViewBag.metadesc = "Вам нужна печать на кружках сублимацией? Предоставляем услуги печати на деловой и рекламно полиграфической продукции! Профессионально, быстро и качественно!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>
<div itemscope itemtype="http://schema.org/Article" class="row">
    <meta itemprop="datePublished" content="2018-11-21" />
    <h1 itemprop="name" class="zagolovok">Сублимация на кружках</h1>
    <div class="main" style="color:#808080;">
        <div class="product-container">
            <div class="product-holder">
                <div class="viewText">
                    <article itemprop="articleBody">
                        <p>
                            Печать на кружках сублимацией – это специальный вид печати, при котором рисунок накладывается непосредственно на изделие. Из-за термической постобработки такая технология применяется на изделиях, способных выдержать высокую температуру, именно поэтому чаще всего технология сублимации применяется на посуде.
                        </p>
                        <p>
                            Технология нанесения заключается в нескольких основных этапах:
                        </p>
                        <ul class="editList editmargin">
                            <li>
                                Вначале готовится эмблема или логотип на компьютерной программе, после чего отзеркаливается;
                            </li>
                            <li>
                                После этого изображение печатается на полимерной бумаге, после чего изображению необходимо высохнуть – на это требуется не менее 20-ти минут;
                            </li>
                            <li>
                                Поверхность, на которой будет производиться печать, нужно очистить и обезжирить;
                            </li>
                            <li>
                                Рисунок переводится на изделие, предварительно вымачиваясь в специальном растворе;
                            </li>
                            <li>
                                После нужно дать изделию высохнуть, и отправить его в муфельную печь.
                            </li>
                        </ul>
                        <p>
                            Благодаря методу термопереноса изображение не просто остается на верхнем слое изделия, а пропитывается в него. Нередко такую методику выбирают для печати логотипа на керамических кружках – для крупных корпораций и компания это отличный способ прорекламировать свои услуги, преподнеся такой презент своим коллегам, клиентам или партнерам. Помимо привлекательной стоимости, сублимация имеет ряд весомых преимуществ, которые несомненно помогут Вам сделать выбор в сторону данной технологии:
                        </p>
                        <ul class="editList editmargin">
                            <li>
                                Возможность полноцветной печати. Высокое качество изображения, которое можно получить при помощи метода сублимации, позволяет передавать рисунки и надписи в фотографическом стиле и в полном цвете, нередко на кружках печатают настоящие фотографии на память. Также на кружки методом сублимации можно наносить изображения-хамелеоны, которые меняют свой цвет в зависимости от температуры воды внутри чашки;
                            </li>
                            <li>
                                Стойкость печати также является неотъемлемым преимуществом, поскольку краска пропитывается в верхний слой изделия, изображение отличается особой стойкостью. Единственный значимый «враг» картинки – это прямые солнечные лучи, которые могут выжечь краску, лишив ее насыщенности;
                            </li>
                            <li>
                                Печать сублимацией допускается к заказу от 12-ти экземпляров, что является неоспоримым преимуществом при оптовой покупке.
                            </li>
                        </ul>
                        <p>
                            Наша компания ЭдитПресс предоставляет услуги по нанесению логотипов и эмблем различными способами печати на любые товары. У нас Вы можете купить партию кружек и заказать печать сублимацией оптом по доступной цене.
                        </p>
                        <h2 class="litePadding">Преимущества сотрудничества с EditPress</h2>
                        <p>
                            Наша компания является лидером вот уже более двух лет. Такая популярность и признание обусловлено нашими неотъемлемыми качествами – мы всегда лояльно относимся к каждому клиенту, у нас выгодный опт, самые качественные, стойкие и яркие принты, лучшие специалисты и дружелюбный персонал. Наша мастерская оборудована современными быстрыми технологиями, позволяющими быстро и качественно выполнять любые объемы работы.
                        </p>
                        <p>
                            Наш прайс Вы можете посмотреть на сайте ЭдитПресс. Для более детальной консультации по любым вопросам или совершения заказа. Вы можете позвонить по номеру телефона, указанному на сайте. Осуществляется доставка готовой продукции по всей России.
                        </p>
                    </article>
                </div>
                <a class="fancybox" rel="group" href="~/Images/SublimationOnMugs/1.jpg"><img src="~/Images/SublimationOnMugs/thumbs/1.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/SublimationOnMugs/2.jpg"><img src="~/Images/SublimationOnMugs/thumbs/2.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/SublimationOnMugs/3.jpg"><img src="~/Images/SublimationOnMugs/thumbs/3.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/SublimationOnMugs/4.jpg"><img src="~/Images/SublimationOnMugs/thumbs/4.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/SublimationOnMugs/5.jpg"><img src="~/Images/SublimationOnMugs/thumbs/5.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/SublimationOnMugs/6.jpg"><img src="~/Images/SublimationOnMugs/thumbs/6.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/SublimationOnMugs/7.jpg"><img src="~/Images/SublimationOnMugs/thumbs/7.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/SublimationOnMugs/8.jpg"><img src="~/Images/SublimationOnMugs/thumbs/8.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/SublimationOnMugs/9.jpg"><img src="~/Images/SublimationOnMugs/thumbs/9.png" alt="" /></a>

            </div>
            <div class="sideBar1">
                <div class="section1">
                    @Html.Partial("_PartialMenuSection")
                </div>
                <div class="sidebarHits">
                    @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
                </div>
            </div>
        </div>
    </div>
</div>
