@{
    ViewBag.Title = "Услуги Ультрафиолетовой Печати Логотипа В Москве: Прайс";
    ViewBag.metadesc = "Вам нужна ультрафиолетовая печать? Мы рады предложить услуги УФ печати на деловой и рекламно полиграфической продукции! Профессионально, быстро и качественно!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>
<div itemscope itemtype="http://schema.org/Article" class="row">
    <meta itemprop="datePublished" content="2018-11-21" />
    <h1 itemprop="name" class="zagolovok">УФ - печать</h1>
    <div class="main" style="color:#808080;">
        <div class="product-container">
            <div class="product-holder">
                <div class="viewText">
                    <article itemprop="articleBody">
                        <p>
                            УФ печать – это технология печати, появившаяся недавно, и приобретающая с каждым днем все больше популярности. Метод предусматривает печать практически на любой поверхности – на стекле, дереве, бумаге, картоне, ткани, пластике, металлических предметах, керамике и многому другому. Одна из основных особенностей технологии заключается в использовании специальных чернил, отражающих свет, которые при взаимодействии с ультрафиолетом застывают, сохраняя яркость и насыщенность цветов, четкость изображение на долгое время. Чаще всего УФ печать используется для нанесения логотипов компании на флешки или ручки, компьютерные мышки и т.д.
                        </p>
                        <p>
                            Перед началом печати, помимо создания детального макета в специальной программе, поверхность для нанесения необходимо очистить от любых загрязнений и обезжирить, только в таком случае можно рассчитывать на качественный и стойкий принт. Обеспечение компании прямой или скрытой рекламой – это лучший способ привлечь больше клиентов и получить массу выгодных сделок.
                        </p>
                        <h2 class="litePadding">Преимущества печати ультрафиолетом</h2>
                        <p>
                            Ультрафиолетовая печать имеет ряд весомых преимуществ перед остальными технологиями нанесения:
                        </p>
                        <ul class="editList editmargin">
                            <li>
                                Принт всегда яркий, имеет насыщенные цвета и высокое качество;
                            </li>
                            <li>
                                Не выгорает на солнце, не смывается водой и имеет высокий процент стойкости;
                            </li>
                            <li>
                                Немалое преимущество – возможность печати белым цветом;
                            </li>
                            <li>
                                Чернила имеют экологический состав, не вредят окружающей среде и здоровью человека;
                            </li>
                            <li>
                                В конечном результате получается матовый рисунок, который не блестит на солнце;
                            </li>
                            <li>
                                Фотореалистичность картинки;
                            </li>
                            <li>
                                Большая площадь нанесения – любой размер изображения на любой плоскости;
                            </li>
                            <li>
                                Цвет заливки изображения можно выбрать любой, и изменять его между процессами.
                            </li>
                        </ul>
                        <p>
                            Наша компания ЭдитПресс предоставляет услуги по нанесению эмблем различными способами печати на любую поверхность оптом и по доступным ценам.
                        </p>
                        <h2 class="litePadding">Преимущества сотрудничества с компанией EditPress</h2>
                        <p>
                            Наш офис оборудован мощными современными технологиями, позволяющими быстро и качественно выполнять большие заказы. Наши сотрудники имеют большой опыт работы и особый профессионализм, который помогает при выполнении услуг – каждый заказ выполняется с особой щепетильностью, мы заботимся о Ваших предпочтениях и желаниях, всегда стараемся сделать Вас довольными. Продукция для печати имеет высокое качество, Вы и Ваши клиенты не будете разочарованы новенькой ручкой с логотипом, которая сломается в тот же день.
                        </p>
                        <p>
                            Для того чтобы купить продукцию и нанести на нее логотип компании или фирмы, Вы можете воспользоваться специальной формой на нашем сайте, или связаться с менеджером по номеру телефона, электронной почте. Также на сайте ЭдитПресс Вы можете ознакомиться с прайсом на все предоставляемые нами услуги.
                        </p>
                        <p>
                            Наша компания является ведущей на современном рынке, секрет нашего успеха состоит в лояльном отношении к каждому клиенту, умеренные цены, частые выгодные предложения или акции, качественная продукция и яркие, стойкие принты. Также немалым преимуществом является доставка готовой партии продукции по всей России.
                        </p>
                    </article>
                </div>
                <a class="fancybox" rel="group" href="~/Images/UFPrinting/1.jpg"><img src="~/Images/UFPrinting/thumbs/1.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/UFPrinting/2.jpg"><img src="~/Images/UFPrinting/thumbs/2.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/UFPrinting/3.jpg"><img src="~/Images/UFPrinting/thumbs/3.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/UFPrinting/4.jpg"><img src="~/Images/UFPrinting/thumbs/4.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/UFPrinting/5.jpg"><img src="~/Images/UFPrinting/thumbs/5.png" alt="" /></a>
            </div>
            <div class="sideBar1">
                <div class="section1">
                    @Html.Partial("_PartialMenuSection")
                </div>
                <div class="sidebarHits">
                    @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
                </div>
            </div>
        </div>
    </div>
</div>
