@{
    ViewBag.Title = "Услуги Печати Объемных Наклеек На Заказ В Москве: Цена";
    ViewBag.metadesc = "Вам нужны объемные наклейки? Мы рады предложить свои услуги печати на деловой и рекламно полиграфической продукции! Профессионально, быстро и качественно!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>
<div itemscope itemtype="http://schema.org/Article" class="row">
    <meta itemprop="datePublished" content="2018-11-21" />
    <h1 itemprop="name" class="zagolovok">Объемная наклейка</h1>
    <div class="main" style="color:#808080;">
        <div class="product-container">
            <div class="product-holder">
                <div class="viewText">
                    <article itemprop="articleBody">
                        <p>
                            Объемные наклейки с каждым днем становятся все популярнее, поскольку обладают незаменимыми отличительными качествами, выделяющими их в рекламной сфере. Во время изготовления объемных шильдов в основу берется полимер из полиуретановой смолы, обладающую конструктивными эластичными свойствами и прозрачностью. Объемные наклейки, в отличие от обыкновенных, имеют повышенную стойкость к неблагоприятным условиях климата, температурных перепадов, влажности воздуха и ультрафиолетовым излучениям. Такие изделия нашли себе применение на готовой продукции – чашках, брелках, флешках и прочему. Клеится наклейка на продукцию любого материала – от металла, пластика и стекла до полиэстера и кожи.
                        </p>
                        <p>
                            Немалое преимущество объемной полимерной наклейки заключается в том, что их можно наклеивать даже на поверхности, которые не поддаются никакой другой печатной обработке.
                        </p>
                        <h2 class="litePadding">Технология печати объемных наклеек и работы с ними</h2>
                        <p>
                            Изначально на компьютерной программе разрабатывается изображение для наклейки. На поливинилхлоридовую пленку наносится эмблема или логотип для последующей печати, затем вырезается по контурам. Лишняя пленка выбрасывается за ненадобностью. На рисунок наносится полимерная пленка, иными словами прозрачная смола, образуя защитный купол и создавая трехмерный эффект.
                        </p>
                        <p>
                            После всех процедур изделие должно пройти термическую обработку для застывания смолы, в итоге получается готовая объемная блестящая наклейка. У такой технологии имеется немало весомых преимуществ:
                        </p>
                        <ul class="editList editmargin">
                            <li>
                                Продукция чрезвычайно прочная и прослужит долгое время. Смола, наносимая на верхний слой наклейки, служит надежной защитой изображения от ультрафиолета, химических и механических повреждений, погодных условий. Изделие нередко приклеивается на стекло, при этом не теряя своего первоначального вида;
                            </li>
                            <li>
                                Надолго сохраняется презентабельный внешний вид, не теряется объем. Наклейка не гнется и не мнется, прочные края не расклеиваются и не деформируются, а купол из полимера придает изображению объемности;
                            </li>
                            <li>
                                Изображение передается всеми цветами – ярко и насыщенно.
                            </li>
                        </ul>
                        <p>
                            Наша компания ЭдитПресс занимается изготовлением объемных наклеек с логотипом на заказ уже более двух лет. У нас Вы можете купить разнообразные наклейки любого вида и формы по доступной цене, или заказать производство собственных.
                        </p>
                        <h2 class="litePadding">Преимущества сотрудничества с EditPress</h2>
                        <p>
                            Мы всегда лояльно относимся к каждому клиенту, качественно выполняем все заказы. Наша мастерская оборудована мощной современной техникой, позволяющей в короткие сроки выполнять большие тиражи.
                        </p>
                        <p>
                            Сотрудничая с нами, Вы получаете качественные и долговечные изделия по доступной цене. В наши услуги входит детальная консультация, при необходимости помощь с разработкой дизайна логотипа, непосредственно сама печать на изделиях или наклеек, а также доставка готовой продукции по всей России.
                        </p>
                    </article>
                </div>
                <a class="fancybox" rel="group" href="~/Images/VolumeLabel/1.jpg"><img src="~/Images/VolumeLabel/thumbs/1.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/VolumeLabel/2.jpg"><img src="~/Images/VolumeLabel/thumbs/2.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/VolumeLabel/3.jpg"><img src="~/Images/VolumeLabel/thumbs/3.png" alt="" /></a>
                <a class="fancybox" rel="group" href="~/Images/VolumeLabel/4.jpg"><img src="~/Images/VolumeLabel/thumbs/4.png" alt="" /></a>
            </div>
            <div class="sideBar1">
                <div class="section1">
                    @Html.Partial("_PartialMenuSection")
                </div>
                <div class="sidebarHits">
                    @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
                </div>
            </div>
        </div>
    </div>
</div>
