USE [EditPress]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 21.05.2019 6:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ItemPrice] [decimal](18, 2) NOT NULL,
	[Count] [int] NOT NULL,
	[Descripts] [nvarchar](max) NULL,
	[Img] [nchar](255) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 21.05.2019 6:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Sid] [nvarchar](50) NULL,
	[Data] [datetime] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[StatusId] [int] NOT NULL,
	[moscow_shipment] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductId], [ItemPrice], [Count], [Descripts], [Img]) VALUES (3064, 3055, 69080, CAST(3880.00 AS Decimal(18, 2)), 1, NULL, N'/images2/5695bac8-f8a5-4f56-b410-a0206aaa91a8/big_58670_a.jpg                                                                                                                                                                                                  ')
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductId], [ItemPrice], [Count], [Descripts], [Img]) VALUES (3065, 3056, 41413, CAST(333.33 AS Decimal(18, 2)), 10, NULL, N'/images2/56952/small_termokruzhka--neprolivayka-1.jpg                                                                                                                                                                                                          ')
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductId], [ItemPrice], [Count], [Descripts], [Img]) VALUES (3066, 3057, 66231, CAST(1005.00 AS Decimal(18, 2)), 2, NULL, N'/images2/33514/small_budilnik-dorozhnyiy-balenciaga-1.jpg                                                                                                                                                                                                      ')
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [UserID], [Sid], [Data], [Comment], [StatusId], [moscow_shipment]) VALUES (7, 3047, NULL, CAST(N'2018-01-31T13:35:13.887' AS DateTime), NULL, 4, 0)
INSERT [dbo].[Orders] ([OrderID], [UserID], [Sid], [Data], [Comment], [StatusId], [moscow_shipment]) VALUES (9, 6, NULL, CAST(N'2018-01-31T15:17:09.403' AS DateTime), NULL, 4, 0)
INSERT [dbo].[Orders] ([OrderID], [UserID], [Sid], [Data], [Comment], [StatusId], [moscow_shipment]) VALUES (10, 6, NULL, CAST(N'2018-02-06T21:17:18.593' AS DateTime), NULL, 4, 0)
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
ALTER TABLE [dbo].[OrderDetails] ADD  CONSTRAINT [DF_OrderDetails_ItemPrice]  DEFAULT ((0)) FOR [ItemPrice]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_StatusId]  DEFAULT ((4)) FOR [StatusId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
