@model List<EditPressRu.Models.DB.Products>
@{
    ViewBag.Title = "Условия доставки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div style="padding:0px 20px 10px 0px;">
                <strong>Доставка заказа по территории России осуществляется одним из способов, выбранным Покупателем в момент оформления заказа:</strong>
                <ul class="editList" style="margin:10px 0px 10px 30px;">
                    <li>самовывоз со склада выдачи готовой продукции</li>
                    <li>отправка через транспортную компанию-партнера ЭдитПресс</li>
                    <li>отправка через транспортную компанию, уполномоченную заказчиком</li>
                </ul>
                <table border="1">
                    <caption>Тарифы на доставку:</caption>
                    <tr>
                        <td style="background:#808080;width:250px;text-align:center">Способ доставки</td>
                        <td style="background:#808080;width:250px;text-align:center">Стоимость</td>
                        <td style="background:#808080;width:250px;text-align:center">Способ оплаты</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">Самовывоз со склада выдачи готовой продукции</td>
                        <td style="text-align:center">бесплатно</td>
                        <td style="text-align:center">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">Отправка через Уполномоченного Поставщиком Перевозчика</td>
                        <td style="text-align:center">Согласно тарифам</td>
                        <td style="text-align:center">Стоимость доставки включается в стоимость заказа</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">Отправка через Уполномоченного Покупателем Перевозчика</td>
                        <td style="text-align:center">Согласно тарифам перевозчика</td>
                        <td style="text-align:center">При получении — перевозчику</td>
                    </tr>
                </table>
                * Для ряда перевозчиков стоимость доставки не включается в стоимость заказа и оплачивается Покупателем перевозчику при получении заказа.
                <br />
                <br />
                Перечень Уполномоченных Поставщиком Перевозчиков, а также информация о расписании движения и тарифах на доставку можно уточнить у Вашего менеджера.
                Доставка заказов до складов выдачи готовой продукции, а также до склада Уполномоченного Поставщиком Перевозчика осуществляется бесплатно.
                <br />
                Для Покупателей из Москвы существует услуга бесплатной доставки заказов весом от 150 кг (по адресу, указанному Покупателем, в пределах Москвы). Доставка производится в течение 3 рабочих дней с момента готовности заказа к отгрузке, разгрузка осуществляется силами Покупателя. Данная услуга должна быть выбрана Покупателем при оформлении заказа (до постановки заказа в работу).
                <br />
                Для региональных Покупателей существует услуга бесплатной доставки до склада транспортной компании в Москве. Доставка производится в течение 3 рабочих дней с момента готовности заказа к отгрузке с основного склада.
                <br />
                Поставщик уведомляет Покупателя по электронной почте об отправке груза с указанием:
                <ul class="editList editmargin">
                    <li>даты и способа отправки;</li>
                    <li>наименований и фактического количества отправленных позиций с разбивкой по местам.</li>
                </ul>
                Поставщик не несет ответственности за исполнение сроков транспортной компанией, за отмену рейсов, отсутствие свободного места на самолетах и т.п., но при наличии информации обязуется оперативно сообщить Покупателю об изменении ситуации для принятия согласованного решения.
                <br />
                Поставщик упаковывает все грузы надлежащим для их сохранности образом. Груз сопровождается товаросопроводительными документами и упаковочным листом (вложен в коробку №1), в котором указывается номер заказа, количество отправленных мест и комплектность груза.
            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", Model); }
            </div>
        </div>
    </div>
</div>
