<div class='pager'>
    <a href='{0}' class='slPager'>1</a>
    <a href='{1}' class='lArrPager'><img src='../Images/lArrowPager.jpg' /></a>
    <span class='mainPager'>{2}</span>
    <a href='{3}' class='rArrPager'><img src='../Images/rArrowPager.jpg' /></a>
    <a href='{4}' class='slPager'>{5}</a>
</div>