@{
    ViewBag.Title = "О компании";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="zagolovok">@ViewBag.Title</h1>
<div style="display:flex;flex-direction:column;height:1500px;">
    <div style="display:flex;flex-direction:row;padding:0px 20px 20px 20px;color:#808080;">
        <div style="flex:4">
            <p class="paragraf">Компания  «EditPress» представляет собой современный многопрофильный производственный холдинг. Мы первые объединили под своим управлением производственные активы, позволяющие нам осуществлять полный цикл работ по изготовлению рекламно-сувенирной и полиграфической продукции, и полностью исключить посредников при работе с клиентами.</p>
            <p class="paragraf">
                Таким образом, бизнес-портфель EditPress включает в себя все наиболее значимые направления рекламно-производственной и полиграфической деятельности, что дает нам ряд существенных преимуществ перед конкурентами:
            </p>
            <ul class="editList" style="margin:15px 0px 20px 30px;">
                <li>привлекательная стоимость конечной продукции;</li>
                <li>высокая скорость производства;</li>
                <li>гарантированное качество продукции.</li>
            </ul>
            <p class="paragraf">
                Но, несомненно, своим главным преимуществом мы считаем свое отношение к клиентам. Для нас не существует малозначимых клиентов, каждый для нас прежде всего партнер, с которым мы стремимся установить долгосрочные, взаимовыгодные отношения, будь это частное лицо или крупная корпорация. Такой подход к ведению бизнеса приносит свои плоды, повышает доверие друг к другу и помогает добиваться отличных результатов.
            </p>
            <p class="paragraf">
                Наше стремление к развитию, поиск всего нового и передового помогает EditPress занимать лидирующие позиции на рынке, а вместе с нами растут и развиваются наши клиенты.
            </p>
        </div>
    </div>
    <div style="display:flex;justify-content:center;align-items:center;">
        <img style="display:block;align-self:center;" src="~/Images/about.jpg" alt="About us" />
    </div>
</div>
<h3 style="text-align:center;padding:20px 0px 20px 0px;"><a href="/proizvodstvo" style="text-decoration:underline;color:#808080;">ПРОИЗВОДСТВЕННЫЕ МОЩНОСТИ</a></h3>

