@{
    ViewBag.Title = "Производственные мощности";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>

<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div style="padding:5px 15px 20px 15px;">
                <div style="display:flex;padding:10px 15px 15px 20px;flex-direction:column;">
                    <h3 class="pr_h_p_center">Производственные мощности компании EditPress – 91 единица современного оборудования</h3>
                    <h4 class="pr_h4">Допечатное оборудование</h4>
                    <div class="pr_item_container">
                        <div class="pr_item_header">
                            <div>
                                <a class="fancybox" href="~/Images/product-cap-1.jpg" data-fancybox-group="gallery" title="Планшетный сканер Heidelberg Quickstep"><img src="~/Images/product-cap-1.jpg" alt="Планшетный сканер Heidelberg Quickstep" /></a>
                            </div>
                            <div class="pr_item_title">
                                <h5 class="pr_h_p_center">Планшетный сканер Heidelberg Quickstep</h5>
                            </div>
                        </div>
                        <div>
                            <p>Цифровая контрактная цветопроба AGFA Grand Sherpa 50</p>
                            <p>Комплекс для изготовления печатных форм Computer-to-Plate AGFA</p>
                            <p>Автоматизированная система прямого экспонирования пластин Fujifilm Luxel V-8 SAL</p>
                        </div>
                    </div>
                    <h4 class="pr_h4">Цифровое оборудование</h4>
                    <div class="pr_item_container">
                        <div class="pr_item_header">
                            <div>
                                <a class="fancybox" href="~/Images/product-cap-2.jpg" data-fancybox-group="gallery" title="Konica Minolta C8000e"><img src="~/Images/product-cap-2.jpg" alt="Konica Minolta C8000e" /></a>
                            </div>
                            <div class="pr_item_title">
                                <h5 class="pr_h_p_center">Konica Minolta C8000e</h5>
                            </div>
                        </div>
                        <div>
                            <p>До 80 отпечатков формата А4, или 43 формата SRA3 в минуту</p>
                            <p>До 4 560 отпечатков формата А4, или 2 142 формата SRA3 в час</p>
                            <p>Качество печати сравнимое с офсетным</p>
                            <p>Полимеризованный тонер Simitri® HD+ для точной печати тонких линий и текстов</p>
                            <p>Cтабильность цветов благодаря автоматическому контролю плотностей</p>
                            <p>Точность совмещения лица/оборота</p>
                        </div>
                    </div>
                    <h4 class="pr_h4">Офсетные листовые машины</h4>
                    <div class="pr_item_container">
                        <div class="pr_item_header">
                            <div>
                                <a class="fancybox" href="~/Images/product-cap-3.jpg" data-fancybox-group="gallery" title="Печатная листовая машина Speedmaster SX 52"><img src="~/Images/product-cap-3.jpg" alt="Печатная листовая машина Speedmaster SX 52" /></a>
                            </div>
                            <div class="pr_item_title">
                                <p class="pr_h_p_center"> Формат А3</p>
                                <h5 class="pr_h_p_center">Печатная листовая машина Speedmaster SX 52</h5>
                            </div>
                        </div>
                    </div>
                    <div class="pr_item_container">
                        <div class="pr_item_header">
                            <div>
                                <a class="fancybox" href="~/Images/product-cap-4.jpg" data-fancybox-group="gallery" title="Печатная листовая машина  Speedmaster XL 75"><img src="~/Images/product-cap-4.jpg" alt="Офсетные листовые машины" /></a>
                            </div>
                            <div class="pr_item_title">
                                <p class="pr_h_p_center">  Формат А2</p>
                                <h5 class="pr_h_p_center">Печатная листовая машина  Speedmaster XL 75</h5>
                            </div>
                        </div>
                    </div>
                    <div class="pr_item_container">
                        <div class="pr_item_header">
                            <div>
                                <a class="fancybox" href="~/Images/product-cap-5.jpg" data-fancybox-group="gallery" title="Печатная листовая машина Speedmaster XL 106"><img src="~/Images/product-cap-5.jpg" alt="Офсетные листовые машины" /></a>
                            </div>
                            <div class="pr_item_title">
                                <p class="pr_h_p_center">  Формат А1</p>
                                <h5 class="pr_h_p_center">Печатная листовая машина Speedmaster XL 106</h5>
                            </div>
                        </div>
                    </div>
                    <div class="pr_item_container">
                        <div class="pr_item_header">
                            <div>
                                <a class="fancybox" href="~/Images/product-cap-6.jpg" data-fancybox-group="gallery" title="Komori формата B1 Lithrone GX40"><img src="~/Images/product-cap-6.jpg" alt="Офсетные листовые машины" /></a>
                            </div>
                            <div class="pr_item_title">
                                <h5 class="pr_h_p_center">Листовая печатная машина Komori формата B1 Lithrone GX40,</h5>
                                <p class="pr_h_p_center"> оснащенная самыми современными функциями, предназначена  для печати упаковки</p>
                            </div>
                        </div>
                    </div>
                    <h4 class="pr_h4">Рулонные офсетные машины</h4>
                    <div class="pr_item_container">
                        <div class="pr_item_header">
                            <div>
                                <a class="fancybox" href="~/Images/product-cap-7.jpg" data-fancybox-group="gallery" title="Рулонная машина Komori System 38D для печати журналов"><img src="~/Images/product-cap-7.jpg" alt="Рулонные офсетные машины" /></a>
                            </div>
                            <div class="pr_item_title">
                                <h5 class="pr_h_p_center">Рулонная машина Komori System 38D для печати журналов</h5>
                            </div>
                        </div>
                        <div>
                            <p>
                                System 38D использует в 32-страничном формате известные технологии быстрой приладки и качественной печати машины System 38S. Эта машина предназначена для расширяющегося рынка высококачественной 32-страничной рулонной печати. Скорость печати 39 000 (78 000 для 16 страниц), 16 вариантов автоматической фальцовки.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
            </div>
        </div>
    </div>
</div>






