@{
    ViewBag.Title = "UserDiscountEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование скидок пользователя</h2>


<div>
    <form action="/Account/SaveDiscountDetails" method="post">
        <input type="hidden" name="id" value="@ViewBag.UserID" />
        <table class="table">
            <tr>
                <td>Имя пользователя</td>
                <td>@ViewBag.UserName</td>
            </tr>
            <tr>
                <td>Вид скидки:</td>
                <td>@Html.DropDownList("discounts")</td>
            </tr>
        </table>
        <input type="submit" value="Записать" />
    </form>
</div>
