@{
    ViewBag.Title = "Полиграфия в Москве от компании Эдитпресс";
    ViewBag.metadesc = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div class="viewText">

            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
            </div>
        </div>
    </div>
</div>
