@*@model EditPressRu.Models.CategoryesViewModel
@{*@
    ViewBag.Title = "Акции компании Эдит пресс";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <tr>
        <td style="vertical-align: top;">
            @*@{Html.RenderPartial("_CatListPartial", Model);}*@
        </td>
        <td style="vertical-align: top; padding:20px 10px 40px 40px;">
            <h1 style="text-align:center;">@ViewBag.Title</h1>
            <table class="table table-hover">
                @*<tr>
                    <td>
                        <h2 class="news">При заказе сувенирной продукции на сумму от 30 000 рублей нанесение логотипа в подарок! </h2>
                        <hr />
                        <p class="news">
                            <a href="/articles/vosmoe_marta"><img src="~/Images/Akciya/Logotip_Podarok/Nanesenie_logotipa.png" alt="Нанесение логотипа на сувениры" style="max-height:160px;float:left;margin:10px;" /></a>
                            Ура! Акция! В преддверии праздников 23 февраля и 8 марта мы объявляем о старте отличного предложения от компании Эдит пресс.
                             Приобретая оптом  корпоративные сувениры и подарки к дню защитника отечества или на праздник международного женского дня, Вы... 
                        </p>
                        <p><span class="label label-success">17.02.2017</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-warning">"Эдит пресс", Москва.</span></p>
                        <a class="news" href="/articles/vosmoe_marta" style="background-color:#b6ff00;">дальше>>></a>
                        <hr />
                    </td>
                </tr>*@
            </table>
        </td>
    </tr>
</table>


@*<a href="/Home/SubCategory?id=1652" class="artikle_link">мягкие игрушки</a>*@