@{
    ViewBag.Title = "Брелоки с логотипом";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>

<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div style="padding:5px 15px 20px 15px;">
                <table>
                    <tr>
                        <td style="vertical-align:top;padding:20px 10px 40px 40px;">
                            <article itemscope itemtype="http://schema.org/Article">
                                <h1 itemprop="name" style="text-align:center;">Брелоки с логотипом -  от компании “ЭдитПресс”</h1>
                                <meta itemprop="inLanguage" content="ru" />
                                <section itemprop="articleBody">
                                    <p>
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/Brelok/brelok2.jpg" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/Brelok/brelok2.jpg" alt="Брелоки под нанесение логотипа " style="max-height:230px;" />
                                        </a>
                                        Когда речь заходит о корпоративных подарках,  и  посчитав количество человек в коллективе и соотношение бюджета
                                        на эти подарки -  то бывает, что нужно купить чего то дешевого и мелкого, но много.
                                        Прекрасно на эту роль подходят <a href="/Home/SubCategory?id=560&actName=cat" class="artikle_link">флешки</a> или <a href="/Home/Cat?id=559&actName=cat" class="artikle_link">ручки</a>. Но есть нечто – не менее приятное,
                                        но более дешевое – это <a href="/Home/SubCategory/566?page=10&actName=cat" class="artikle_link">брелоки</a>. Памятный брелок с логотипом Вашей компании
                                        - это прекрасный корпоративный подарок для Ваших сотрудников,

                                        или партнеров по бизнесу, или подарок для участников какой-нибудь промоакции.
                                    </p>
                                    <p>
                                        В нашем Интернет магазине есть разделы для брелоков на различные случаи жизни.
                                        Это и <a href="/Home/SubCategory?id=1601&actName=subcategory" class="artikle_link">брелоки промо</a> и <a href="/Home/SubCategory?id=1603&actName=subcategory" class="artikle_link">брелоки для телефонов</a>,
                                        и <a href="/Home/SubCategory?id=1602&actName=subcategory" class="artikle_link">различные оригинальные предметы в виде брелоков</a>.
                                        Отдельной статьей стоят  <a href="/Home/SubCategory?id=1604&actName=subcategory" class="artikle_link">брелоки многофункциональные</a>, это не просто сувенир
                                        – это еще и полезная вещь, которая может стать хорошим помощником своему обладателю.
                                    </p>
                                    <p>
                                        <a href="/Home/Item/?id=b99774e0-034e-4ed6-ad06-a4a4d9d582ce" class="artikle_link">Например брелок термометр</a>
                                        или <a href="/Home/Item/?id=96e6711f-afe4-4552-be66-551c8d87b4d9" class="artikle_link">брелок с функцией отогревания автомобильных замков</a>.
                                        Ведь в деловом мире сейчас все за рулем и в России зима длиться полгода.
                                        Многие сталкивались с проблемой открыть замерзшую дверь в автомобиле или крышку бензобака с замком.
                                        Так же очень интересны категории <a href="/Home/SubCategory?id=1608&actName=subcategory" class="artikle_link">брелоки с фонариком</a>
                                        или <a href="/Home/SubCategory?id=1605&actName=subcategory" class="artikle_link">брелоки рулетки</a> которые могут пригодиться
                                        в самых разных житейских ситуациях – это те приборы, которые всегда должны быть под рукой.
                                    </p>
                                    <p>
                                        Для любителей пива и пикников подойдут <a href="/Home/SubCategory?id=1607&actName=subcategory" class="artikle_link">брелоки – открывалки</a>. И да, какой же мужчина без отвертки?
                                        Не раз наблюдал в ГАИ при получении номеров очередь за отверткой, или приходишь к
                                        <span style="text-decoration:line-through;">любовнице </span> какой-нибудь одинокой
                                        женщине или секретарше и надо что-то где-то ей подкрутить. Или подбегает маленький сынишка-папа,
                                        папа – вставь батарейку в машинку. А тут бац – в кармане лежит <a href="/Home/SubCategory?id=1606&actName=subcategory" class="artikle_link">брелок отвертка</a> – на все случаи жизни!
                                    </p>
                                    <p>
                                        Компания Эдитпресс в своем магазине предлагает очень широкий выбор различных брелоков.
                                        Но если Вы чего-то не найдете на страницах сайта или Вам некогда это делать – всегда
                                        звоните нам по телефону <span class="artikle_link">8-800-333-50-90</span>, и наши менеджеры в кратчайшие сроки доставят
                                        Вам именно то, что Вы пожелаете.
                                    </p>
                                    <p>
                                        В нашей компании есть своя производственно-полиграфическая
                                        база, и мы в сжатые сроки и с высочайшим качеством, на самом современном
                                        оборудовании нанесем логотип и рекламную информацию не только на брелоки, но и на любое многообразие сувенирной продукции.
                                        В нашей компании прекрасно развита логистика и доставка. Есть свои представители в Европе и Китае. Мы всегда рады плодотворному сотрудничеству!

                                    </p>
                                    <p class="article_item_nav">
                                        <<< <a href="/articles">К списку статей</a> | <a href="/">Каталог продукции</a> |
                                        <a href="/Home/SubCategory?id=566&actName=cat">Брелоки</a>  | <a href="/contacts">Реквизиты</a>>>>
                                    </p>
                                </section>
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
            </div>
        </div>
    </div>
</div>







  

