@{
    ViewBag.Title = "Часы оптом. Часы - бизнес сувениры";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>

<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div style="padding:5px 15px 20px 15px;">
                <table>
                    <tr>
                        <td style="vertical-align:top;padding:20px 10px 40px 40px;">
                            <article itemscope itemtype="http://schema.org/Article">
                                <h1 itemprop="name" style="text-align:center;">Часы по оптовым ценам -  от компании “ЭдитПресс”</h1>
                                <meta itemprop="inLanguage" content="ru" />
                                <section itemprop="articleBody">
                                    <p>
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/chasy/chasy2.jpg" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/chasy/chasy2.jpg" alt="Часы оптом с логотипом" style="max-height:230px;" />
                                        </a>
                                        Чтобы <a href="/Home/SubCategory/567?page=7&actName=cat" class="artikle_link">купить часы оптом в Москве</a> – не нужно ехать за с этой целью в чудесный и загадочный Китай, или хваленую и славящуюся своим качеством Европу.
                                        Правильно! Нужно лететь в страну самобытной цивилизации, Японию – там есть Casio. Шутка. Лететь и ехать никуда не нужно!
                                        Все есть уже в Москве с доставкой по всей России. В рекламно-полиграфическом холдинге
                                        Эдитпресс всегда в наличии имеется большой выбор самых разных часов, от древне-песочных,
                                        например, вот <a href="/Home/SubCategory?id=1614&actName=subcategory" class="artikle_link">таких</a>, до ультрасовременнотехнонаворочанных – как <a href="/Home/Item/?id=8de9d5a6-caee-4406-88e7-e38afff9d9b5" class="artikle_link">тут</a>.
                                    </p>
                                    <p>
                                        Чтобы организовать корпоративные подарки для офисных работников  - подойдут недорогие часы,
                                        на которые мы можем нанести логотип Вашей компании или рекламу Вашей фирмы,
                                        для этого неплохо подходит категория <a href="/Home/SubCategory?id=1609&actName=subcategory" class="artikle_link">часов – яркое время</a> или,
                                        например <a href="/Home/SubCategory?id=1615&actName=subcategory" class="artikle_link">часы с будильником</a>.
                                        Для подарка руководителю, или партнерам по бизнесу в качестве сувенира на 23 февраля или
                                        день рождения – прекрасно подойдут изделия из <a href="/Home/SubCategory?id=1617&actName=subcategory" class="artikle_link">категории погодные станции</a>.
                                    </p>
                                    <p>
                                        Так же очень интересна категория изделий из нашего <a href="/articles/InernetMagazin" class="artikle_link">интернет магазина</a> под названием
                                        <a href="/Home/SubCategory?id=1616&actName=subcategory" class="artikle_link">часы миниатюры</a>.
                                        В этом разделе собраны изделия, представляющие из себя завершенные композиции на различные темы,
                                        сюжеты, предметы или явления. Такой сувенир будет не только полезен в качестве прибора измерения времени,
                                        но и эстетически дополнять собой интерьер и подчеркивать предпочтения, увлечения или характер своего владельца.
                                        Такой подарок будет приятен и женщинам и мужчинам. Такие часы можно подарить и на профессиональный праздник и на 8 марта и на день св. Валентина
                                        и  на 23 февраля. На таких красивых сувенирах мы можем нанести лазерную гравировку – столь же изящно и красиво.
                                    </p>
                                    <p>
                                        Особым спросом пользуются <a href="/Home/SubCategory?id=1612&actName=subcategory" class="artikle_link">настенные</a> и
                                        <a href="/Home/SubCategory?id=1613&actName=subcategory" class="artikle_link">настольные часы</a>  - это, наверное самый распространенный подарок для офиса,
                                        руководителя, директора. Такие часы подчеркивают дизайн помещения, и вносят свой ритм в жизнь всех вещей комнаты.
                                        Настенные часы с логотипом Вашей компании прекрасно подойдут в качестве призов победителям акций и конкурсов, устраиваемых Вашей компанией.
                                    </p>
                                    <p>
                                        В разделе <a href="/Home/SubCategory?id=1611&actName=subcategory" class="artikle_link">наручные часы</a> – внесена лишь небольшая часть товара, хотя это совершенно особая категория.
                                        Ведь именно наручные часы – это не просто там часы, время посмотреть. Прежде всего, это статус владельца.
                                        Именно статус, а так же по часам можно узнать многое об их хозяине. Дорогие швейцарские часы с
                                        позолотой подчеркнут высокое положение своего господина, который наверняка одет и в дорогие туфли и дорогой костюм
                                        и его возят на дорогом автомобиле не менее опрятный шофер. Равно как и дорогие часы с функцией подводного погружения и противоударными свойствами
                                        скажут о том, что их обладатель не против погонять на мотоцикле с ветерком,
                                        или прыгнуть с парашютом с высокой башни, или нырнуть на дно Океана в поисках приключений.
                                        Недорогие, но наворочанные часы с функцией например телефона, или другими техническими приспособлениями скажут о том,
                                        что их обладатель молодой сисадмин, или инженер электронщик - в общем технический специалист, который живет в мире гаджетов как рыба в воде.  И так далее.
                                    </p>
                                    <p>
                                        Компания Эдитпресс предлагает солидный выбор часов, который представлен на сайте Интернет-магазина,
                                        а так же подкреплен товаром в наличии на складах. Но мы предлагаем фактически неограниченный выбор как по фантазии
                                        так и по количеству на заказ. Потому что в нашей компании есть свои представители в Китае и Европе.
                                        У нас есть  свои каналы доставки и партнеры производители. У нас есть своя производственная база в Москве.
                                        Прекрасный персонал менеджеров и служащих нашей компании всегда рад помочь нашим клиентам.
                                        Мы работаем на результат  - когда наш клиент доволен и вновь обращается к нам – это наша высшая награда.
                                    </p>
                                    <p class="article_item_nav">
                                        <<< <a href="/articles">К списку статей</a> | <a href="/">Каталог продукции</a> |
                                        <a href="/Home/SubCategory?id=567&actName=cat">Часы</a>  | <a href="/contacts">Реквизиты</a>>>>
                                    </p>
                                </section>
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
            </div>
        </div>
    </div>
</div>









