@{
    ViewBag.Title = "Оригинальные флешки с логотипом";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>

<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div style="padding:5px 15px 20px 15px;">
                <table>
                    <tr>
                        <td style="vertical-align:top;padding:20px 10px 40px 40px;">
                            <article itemscope itemtype="http://schema.org/Article">
                                <h1 itemprop="name" style="text-align:center;">Флешки с логотипом -  от компании “ЭдитПресс”</h1>
                                <meta itemprop="inLanguage" content="ru" />
                                <section itemprop="articleBody">
                                    <p>
                                        <a href="/Home/Cat?id=560&actName=cat" class="artikle_link">
                                            Флешки
                                        </a> прочно вошли в нашу жизнь. Это очень популярное на данный момент времени устройство.
                                        С флешек сейчас устанавливают виндовс. На флешке хранят информацию и обмениваются ею, где нет
                                        возможности воспользоваться сетью. На флешки записывают фильмы и музыку, и огромное количество
                                        <a href="/Home/Item/?id=7f52fd12-4cde-4709-a84f-db688fb74feb" class="artikle_link">устройств</a>
                                        поддерживает интерфейс USB для воспроизведения непосредственно с флешки музыки и видеофайлов.
                                        Поэтому флешка – это отличный <a href="/Home/Cat?id=565&actName=cat" class="artikle_link">сувенир для офисных</a> работников. Да что там офисные работники.
                                        Флешка  это прекрасный подарок любому современному человеку. И <a href="/Home/SubCategory?id=1583&actName=subcategory" class="artikle_link">
                                            мужчины
                                        </a> и <a href="/Home/SubCategory?id=1584&actName=subcategory" class="artikle_link">
                                            женщины
                                        </a> одинаково будут рады флешке.
                                        Более того, вторая, третья, 10-тая ли то флешка в парке флешек пользователя, точно лишней не будет!!!
                                        Поэтому, рекламно полиграфический холдинг ЭдитПресс предлагает по оптовым ценам великолепный <a href="/Home/SubCategory?id=1547&actName=subcategory" class="artikle_link">
                                            выбор флешек в различном дизайнерском
                                            исполнении
                                        </a>.  В каталоге нашего Интернет магазина Вы  с легкостью найдете
                                        тематические коллекции флешек. <a href="/Home/SubCategory?id=1550&actName=subcategory" class="artikle_link">Флешки человечки</a>, <a href="/Home/SubCategory?id=1549&actName=subcategory" class="artikle_link">флешки-ручки</a>,
                                        флешки-проигрыватели, <a href="/Home/SubCategory?id=1546&actName=subcategory" class="artikle_link">флешки-брелоки</a>,
                                        флешки машинки для различных автосалонов и многие-многие другие <a href="/Home/SubCategory?id=1551&actName=subcategory" class="artikle_link">виды оформления</a> универсального и полюбившегося всем
                                        цифрового девайса.
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/Fleshka/fleshka_s_logotipom.jpg" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/Fleshka/fleshka_s_logotipom.jpg" alt="Флешки, под нанесение логотипа" style="max-height:230px;" />
                                        </a> Флешки для различных видов профессий. Флешки специально для сисадминов
                                        с максимальной скоростью записи, с самым последним USB интерфейсом. Почему на 8-е марта девушке не подарить флешку в виде
                                        букета цветов? Или почему бы не подарить девушке на день святого Валентина флешку-сердечко? Это и полезно и приятно и
                                        вообще даже оригинально.  Нужно сделать корпоративный подарок? Флешка! То, что нужно!
                                        Как маленькй, но приятный сувенир в MP3 магнитолу клиенту крупного автосалона
                                        брелок флешка к ключам в подарок! Мелочь, но согласитесь, приятная мелочь.
                                        Более того, купив флешки оптом у нас, Вы получите двойную выгоду! Мы напечатаем на флешках логотип Вашей компании.
                                        У нас самое современное оборудование, свыше сотни различных печатных машин, тампопечать,
                                        объемная печать на полимерных пленках, шелкография, офсетная печать, цифровая печать,
                                        сублимация и другие методы – все сделаем в лучшем качестве. Если Флешки будут в железном корпусе в
                                        виде <a href="/Home/Item/?id=30173532-4cde-4d9b-b83c-0e541c1a3655" class="artikle_link">
                                            пули
                                        </a> или <a href="/Home/Item/?id=9f81c3b8-a4cd-4177-8b54-68c9fc82ca9d" class="artikle_link">золотого слитка</a>, или в виде какого либо другого металлического предмета –
                                        <a href="/Home/LaserEnrgaving" class="artikle_link">лазерная гравировка</a> к Вашим услугам!
                                        Таким образом, подводя итог статье, приходим к выводу, что флешка – несомненно друг современного человека :), и будет всегда уместным и
                                        желанным подарком. У нас Вы можете приобрести по оптовым ценам как <a href="/Home/SubCategory?id=1546&actName=subcategory" class="artikle_link">дешевые пластмассовые флешки</a>,
                                        так и в дорогом корпусе из дорогого металла. Очень оригинально и полезно будут выглядеть <a href="/Home/SubCategory?id=1548&actName=subcategory" class="artikle_link">флешки в виде визиток</a>.
                                        Если Вы не найдете  у нас в каталоге нужного Вам исполнения флешки – то смело звоните нам по телефону <span class="artikle_link"> 800 333 50 90</span>
                                        мы для Вас в кратчайшие сроки изготовим флешки по индивидуальному заказу и <a href="/Home/SubCategory?id=1552&actName=subcategory" class="artikle_link">красиво упакуем</a>.
                                    </p>
                                    <p class="article_item_nav">
                                        <<< <a href="/articles">К списку статей</a> | <a href="/">Каталог продукции</a> |
                                        <a href="/Home/Cat?id=560&actName=cat">Флешки</a>  | <a href="/contacts">Реквизиты</a>>>>
                                    </p>
                                </section>
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
            </div>
        </div>
    </div>
</div>








