@{
    ViewBag.Title = "Гаджеты и аксессуары с логотипом";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>


<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div style="padding:5px 15px 20px 15px;">
                <table>
                    <tr>
                        <td style="vertical-align:top;padding:20px 10px 40px 40px;">
                            <article itemscope itemtype="http://schema.org/Article">
                                <h1 itemprop="name" style="text-align:center;">Гаджеты и аксессуары с логотипом -  от компании “ЭдитПресс”</h1>
                                <meta itemprop="inLanguage" content="ru" />
                                <section itemprop="articleBody">
                                    <p>
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/Gadget/nabor_dlya_presentaciy.jpg" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/Gadget/nabor_dlya_presentaciy.jpg" alt="Наборы для презентаций" style="max-height:230px;" />
                                        </a> В наш век пробок и автомобилей, мобильных телефонов, <a href="/Home/SubCategory?id=575&actName=cat" class="artikle_link">гаджетов</a>, деловому человеку никак не обойтись без
                                        <a href="/Home/SubCategory?id=1682&actName=subcategory" class="artikle_link">автомобильной подзарядки</a> смартфона.
                                        Потому что  современный ритм жизни <span style="text-decoration:line-through;">ушатывает</span>  разряжает аккумулятор мобильного устройства в считанные часы.
                                        Сейчас деловой человек многие важные вопросы решает из салона своего автомобиля, в котором он может проводить чуть ли не 24 часа в сутки.
                                        Компания "ЭдитПресс" предлагает широкий ассортимент <a href="/Home/Item/?id=2ccdd580-d878-4119-96b8-99314859e33f" class="artikle_link">устройств, для зарядки мобильных</a>
                                        помощников современного бизнесмена.
                                    </p>
                                    <p>
                                        Кроме автомобильных зарядок, мы предлагаем достойный   выбор <a href="/Home/Item/?id=a111a975-1e02-43c0-81e6-2448eef13e04" class="artikle_link">зарядных устройств со своим съемным аккумулятором</a>, для которого не требуется автомобиль.
                                        К таким <a href="/Home/Item/?id=781f6c9c-7a58-45f8-88b2-e6d828495725" class="artikle_link">приборам</a> относится, например линейка так называемых
                                        <a href="/Home/Item/?id=8a545376-8677-4c28-bcb1-9d458e1f216c" class="artikle_link">powerbank</a>`ов. Это многофункциональные гаджеты, которые совмещают в себе
                                        как свою прямую функцию - зарядка мобильных устройств, так и множество дополнительных. Это может быть и <a href="/Home/SubCategory/1685?page=9&actName=subcategory" class="artikle_link">радио</a>,
                                        и <a href="/Home/Item/?id=95cc182b-0237-45c8-a53a-8644d27c708d" class="artikle_link">фонарик</a> и <a href="/Home/SubCategory?id=1683&actName=subcategory" class="artikle_link">mp3 плеер</a>
                                        и другие полезные возможности этих маленьких и удобных устройств. <a href="/Home/SubCategory/1682?page=2&actName=subcategory" class="artikle_link">Powerbank </a> - это девайс курьеров, лыжников, велосипедистов, людей,
                                        которые по утрам делают пробежку, или с этим устройством можно посещать фитнес-клуб - Ваш мобильник будет рядом и всегда заряжен.
                                    </p>
                                    <p>
                                        К мобильным телефонам и устройствам современная индустрия предлагает богатый ассортимент
                                        <a href="/Home/SubCategory?id=1681&actName=subcategory" class="artikle_link">аксессуаров</a>. Это и <a href="/Home/SubCategory/1685?page=3&actName=subcategory" class="artikle_link">колонки</a> и <a href="/Home/SubCategory/1681?page=9" class="artikle_link">
                                            подставки
                                            для мобильников
                                        </a>, и наборы для <a href="/Home/SubCategory?id=1684&actName=subcategory" class="artikle_link">проведения семинаров и презентаций</a>,
                                        и <a href="/Home/SubCategory?id=1685&actName=subcategory" class="artikle_link">различные микрофоны и наушники</a>. Отдельной линейкой в этом разнообразии
                                        стоят <a href="/Home/SubCategory?id=1680&actName=subcategory" class="artikle_link">аксессуары для iPhone и  iPad</a>.
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/Gadget/chehol_iPad.jpg" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/Gadget/chehol_iPad.jpg" alt="чехол для iPad" style="max-height:230px;" />
                                        </a> Все это можно приобрести оптом в нашей компании. Гаджеты - это отличная идея для бизнес сувениров.
                                        Все эти товары придутся по душе современному члену общества. Поэтому, чтобы поощрить и мотивировать своих сотрудников  - бизнес сувениры
                                        в виде <a href="/Home/SubCategory/575?page=3&actName=cat" class="artikle_link">гаджетов</a>  - это то, что доктор прописал. Эти подарки принесут радость сотрудникам бизнес коллектива. В связи с этим фактом,
                                        стоит напомнит о манипуляторе <a href="/Home/SubCategory?id=1687&actName=subcategory" class="artikle_link">мышь для компьютера</a>. Этот необходимый инструмент может создавать прекрасное настроение на работе
                                        своим затейливым дизайном. У нас в интернет-магазине Вы можете купить самые <a href="/Home/SubCategory/1687?page=2&actName=subcategory" class="artikle_link">замечательные мышки для компьютера</a> в подарок оптом!
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/Gadget/mouse.jpg" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/Gadget/mouse.jpg" alt="манипуляторы мышь - разнообразный дизайн" style="max-height:230px;" />
                                        </a>
                                    </p>
                                    <p>
                                        Раз уж разговор зашел о компьютерах, стоит упомянуть, что у нас есть неслабый выбор <a href="/Home/SubCategory?id=1686&actName=subcategory" class="artikle_link">
                                            CD холдеров
                                        </a> Не смотря на то, что CD диски
                                        постепенно вытесняются <a href="/Home/SubCategory?id=560&actName=cat" class="artikle_link">флешками</a>, на них до сих пор у многих лежат заветные семейные аудио или видеозаписи, а так же масса другой
                                        необходимой информации. И всегда возникает вопрос - как удобно хранить CD диски, компактно и чтоб доступ к ним был легкий?
                                        <a href="/Home/SubCategory/1686?page=2&actName=subcategory" class="artikle_link">CD холдер</a> - это то, что Вам для этого нужно. В компании ЭдитПресс можно купить оптом с нанесением
                                        логотипа <a href="/Home/Item/?id=07f4a628-7425-4b00-940a-2bf1e6499ed4" class="artikle_link">CD холдеры различного назначения и дизайна</a>.
                                    </p>
                                    <p>
                                        Рекламно-полиграфческий холдинг ЭдитПресс предлагает широкий ассортимент <a href="/Home/SubCategory?id=562&actName=cat" class="artikle_link">
                                            бизнес-сувениров
                                        </a> в виде
                                        гаджетов и различных мобильных электронных устройств, незаменимых спутников современных бизнесменов и аксессуаров
                                        к ним по оптовым ценам. Также мы нанесем на них символику Вашей компании самыми современными средствами.
                                        Мы не только торгуем бизнес сувенирами, но и производим их сами. У нас прекрасный производственный комплекс,
                                        в нем более ста различных <a href="/Home/ProductionCapacity" class="artikle_link">станков, с помощью которых</a> мы сможем нанести на рекламные сувениры символику Вашей компании самыми современными способами.

                                    </p>
                                    <p class="article_item_nav">
                                        <<< <a href="/articles">К списку статей</a> | <a href="/">Каталог продукции</a> |
                                        <a href="/Home/SubCategory?id=575&actName=cat">Гаджеты и аксессуары</a>  | <a href="/contacts">Реквизиты</a>>>>
                                    </p>
                                </section>
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
            </div>
        </div>
    </div>
</div>









