@{
    ViewBag.Title = "Интернет магазин сувениров - ЭдитПресс";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>

<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div style="padding:5px 15px 20px 15px;">
                <table>
                    <tr>
                        <td style="vertical-align:top;padding:20px 10px 40px 40px;">
                            <article itemscope itemtype="http://schema.org/Article">
                                <h1 itemprop="name" style="text-align:center;">Интернет магазин сувениров - ЭдитПресс</h1>
                                <meta itemprop="inLanguage" content="ru" />
                                <section itemprop="articleBody">
                                    <p>
                                        Если Вам необходимо в сжатые сроки, качественно и оперативно подготовить<strong> флаеры, визитки,</strong> или какую ни будь другую рекламную
                                        печатную продукцию – то Вам к нам! Компания ЭдитПресс – это рекламно полиграфический холдинг в Москве
                                        с самым <a href="/Home/ProductionCapacity" class="artikle_link">современным оборудованием</a>. Нам без труда изготовить миллионный тираж календарей
                                        с логотипом Вашей компании или выполнить <a href="/articles/Personalisacia" class="artikle_link">
                                            персонализацию ежедневников
                                        </a> или выполнить <a href="/Home/LogoApplication" class="artikle_link">
                                            нанесение логотипа
                                        </a>
                                        на <a href="/Home/SubCategory?id=1637&actName=subcategory" class="artikle_link">футболки</a> и <a href="/Home/SubCategory?id=1636&actName=subcategory" class="artikle_link">бейсболки</a>.
                                        Мы выполним <a href="/Home/LaserEnrgaving" class="artikle_link"> лазерную гравировку</a> на металлических поверхностях,
                                        <a href="/Home/OfsetPrint" class="artikle_link">офсетная</a> и
                                        <a href="/Home/DigitPrint" class="artikle_link">
                                            цифровая печать
                                        </a>, <a href="/Home/PadPrinting" class="artikle_link">
                                            тампопечать
                                        </a>
                                        . Нужно нанести логотип или рекламный лозунг на тканевую поверхность сумки или футболки?
                                        Пожалуйста, у нас есть профессиональное оборудование для <a href="/Home/Flex" class="artikle_link">
                                            флексопечати
                                        </a>. Не устраивает
                                        флексопечать – мы можем <a href="/Home/Fancywork" class="artikle_link">
                                            вышить
                                        </a> любой текст и рисунок на футболке или бейсболке, тканевой сумке.
                                        Различные мелкие сувениры и кружки мы разукрасим вашим логотипом, создав корпоративный дух в
                                        коллективе с помощью <a href="/Home/Fancywork" class="artikle_link">
                                            надглазурной деколи
                                        </a>, <a href="/Home/VolumeLabel" class="artikle_link">
                                            объемной наклейки
                                        </a>, <a href="/Home/UFPrinting" class="artikle_link">
                                            УФ печати
                                        </a> и других всевозможных способов.
                                        Мы уверены, что Вы останетесь довольны, сотрудничеством с нами, потому что мы умеем слушать и понимать,
                                        что нужно именно Вам. Обратившись к нам, Вы можете вычеркнуть заботу о <a href="/Home/SubCategory?id=563&actName=cat" class="artikle_link">корпоративных подарках</a>
                                        и сувенирах для своих сотрудников или партнеров по бизнесу – теперь это наше дело
                                        и мы выполним его с полной отдачей.
                                        Мы не просто производим сувениры сами, у нас есть  представители в Европе и Китае,
                                        и прекрасно развита логистика. У нас есть <a href="/" class="artikle_link">
                                            Интернет магазин
                                        </a> и склад в Подмосковье.
                                        Огромный выбор <a href="/Home/SubCategory?id=562&actName=cat" class="artikle_link">
                                            бизнес сувениров
                                        </a> в наличии,
                                        а на заказ мы для Вас в кратчайшие сроки доставим любой товар
                                        от дорогущего европейского <a href="/brands" class="artikle_link">
                                            бренда
                                        </a>, до массовой дешевой,
                                        но качественной  сувенирной продукции из Китая.
                                    </p>
                                    <p class="article_item_nav">
                                        <<< <a href="/articles">К списку статей</a> | <a href="/">Каталог продукции</a> |
                                        <a href="/Home/SubCategory?id=561&actName=cat">Ежедневники</a>  | <a href="/Home/SubCategory?id=1599&actName=subcategory">Календари</a>  | <a href="/contacts">Реквизиты</a>>>>
                                    </p>
                                    <p style="text-align:center; padding-top:35px;">
                                        <a href="/"><img src="~/Images/artikles/InternetMagazin/InternetMagazin.jpg" style="max-width:350px;" alt="Интернет магазин бизнес сувениров" /></a>
                                    </p>
                                </section>
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
            </div>
        </div>
    </div>
</div>








