@{
    ViewBag.Title = "Ножи для мужчин и женщин в подарок.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>

<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div style="padding:5px 15px 20px 15px;">
                <table>
                    <tr>
                        <td style="vertical-align:top;padding:20px 10px 40px 40px;">
                            <article itemscope itemtype="http://schema.org/Article">
                                <h1 itemprop="name" style="text-align:center;">Подарочные ножи от компании ЭдитПресс</h1>
                                <meta itemprop="inLanguage" content="ru" />
                                <section itemprop="articleBody">
                                    <p>
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/knife/knife_man_change_steel.jpg" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/knife/knife_man_change_steel.jpg" alt="Нож со сменными лезвиями" style="max-height:230px;" />
                                        </a>
                                        Нож. Это древнее изобретение. Наверное, самое древнее. Нож – это спутник мужчины, его друг.
                                        Нож это инструмент на все случаи жизни. Им можно отрезать, закрутить болты,
                                        проковырять отверстие как сверлом, выбрать канавку как фрезой, фигурно вырезать узор,
                                        как на фрезере, с ним можно охотиться, разделывать добычу, отпугнуть и разогнать гопоту в городе,
                                        им можно вскрыть консервы, с ним можно выбраться из полыньи, им можно изготовить копье,
                                        им можно прививать растения,  он <a href="/Home/Item/?id=9a507a2d-4771-480e-8b4a-18a03d713139" class="artikle_link"> помощник на кухне</a>, он последний шанс разведчика, скальпель-тоже нож.
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/knife/Нож Кухонный.jpg" style="line-height:230px;float:right;margin:10px;">
                                            <img src="~/Images/Artikles/knife/Нож Кухонный.jpg" alt="Нож кухонный" style="max-height:230px;" />
                                        </a>
                                    </p>
                                    <p>
                                        Нож  - спутник и сотрудник женщины на кухне. С хорошим ножом готовить одно удовольствие.
                                        Рутинная нарезка продуктов превращается в праздник самурая.
                                        Нож – это еще и статус. Красивый нож на охоте, в красивых кожаных ножнах – это реально понты.
                                        Нож в кабинете – это мужское украшение пространства. Он подчеркивает мужское начало.
                                    </p>
                                    <p>
                                        Нож спасает жизнь и приносит смерть. Нож -  символ ключа между вратами жизни и смерти, между двумя бушующими энергиями,
                                        нож – это раздел линии Инь-Янь. Оружие всегда будоражит душу мужчины. Нож – это самое доступное легальное оружие.
                                        Поэтому самый меленький, перочинный ножичек в кармане мужчины придает ему уверенность и дает
                                        счастье обладания предметом, усиливающим его потенциал.
                                    </p>
                                    <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/knife/Нож.jpg" style="line-height:230px;float:left;margin:10px;">
                                        <img src="~/Images/Artikles/knife/Нож.jpg" alt="Нож складной" style="max-height:230px;" />
                                    </a>
                                    <p>
                                        Мы не продаем холодное оружие и ножи для спецподразделений.
                                        Но в каталоге нашего Интернет магазина Вы найдете массу ножей для доброго гражданского применения.
                                        Такие ножи не запрещены законом, но будут радовать своего обладателя своим качеством и функционалом.
                                        Ножи с набором инструментов, <a href="/Home/Item/?id=7f9d8331-f663-413c-8707-a6550f539938" class="artikle_link"> ножи для разделки сыра</a>, наборы разделочных ножей.
                                        Нож – это отличный подарок как для мужчин, особенно на день защитника отечества, так и для женщин.
                                        Компания Эдитпресс предоставляет широкий ассортимент ножей для корпоративного подарка,
                                        а так же услугу нанесения логотипа. Мы <a href="/uslugy" class="artikle_link"> нанесем качественно и быстро логотип Вашей компании</a>,
                                        или например эмблему любимого спортивного клуба на подарочные изделия. Для этого у нас есть прекрасные производственно-полиграфическе мощности.

                                    </p>
                                    <p class="article_item_nav">
                                        <<< <a href="/articles">К списку статей</a> | <a href="/">Каталог продукции</a> |
                                        <a href="/Home/SubCategory?id=1679">Ножи</a>  | <a href="/contacts">Реквизиты</a>>>>
                                    </p>
                                </section>
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
            </div>
        </div>
    </div>
</div>












