@{
    ViewBag.Title = "Кухонные наборы и посуда оптом";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>

<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div style="padding:5px 15px 20px 15px;">
                <table>
                    <tr>
                        <td style="vertical-align:top;padding:20px 10px 40px 40px;">
                            <article itemscope itemtype="http://schema.org/Article">
                                <h1 itemprop="name" style="text-align:center;">Кухонные приборы и посуда по оптовым ценам от компании Эдитпресс  </h1>
                                <meta itemprop="inLanguage" content="ru" />
                                <section itemprop="articleBody">
                                    <p>
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/kuhnya/nabor_hitec.jpg" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/kuhnya/nabor_hitec.jpg" alt="Набор кружек хайтек" style="max-height:230px;" />
                                        </a>
                                        А теперь шутки в сторону. Компания Эдитпресс по оптовым ценам предлагает приобрести
                                        <a href="/Home/SubCategory/562?page=1&actName=cat" class="artikle_link">бизнес сувениры</a>  на весь женский или мужской коллектив офиса, компании, партнерам,
                                        по бизнесу, а так же предоставить дилерам на выгодных условиях сувенирную и полиграфическую продукцию.
                                    </p>
                                    <p>
                                        Мы знаем в ней толк, у нас современное <a href="/Home/ProductionCapacity" class="artikle_link">высокооснащенное производство</a>
                                        и прекрасный коллектив менеджеров по работе с клиентами. Мы можем <a href="/Home/Consult" class="artikle_link"> посоветовать и подобрать</a>,
                                        найти и доставить, произвести именно то, что вы искали. Для этого мы и работаем.
                                        В этой статье мы рассмотрим категорию подарков нашего интернет магазина под названием
                                        <a href="/Home/SubCategory/568?page=2&actName=cat" class="artikle_link">кухня и посуда</a>. Никому не секрет, что в современном мире не только женщины королевы кухни.
                                        Частенько по выходным или в свободное от работы время мужчины балуют своих любимых каким-нибудь шедевром кулинарного искусства.
                                        Поэтому подарки из этой категории подойдут и мужчинам, и женщинам,
                                        и холостым, и женатым, и даже тем, у кого статус – бабушка говорит, что я красивый ).
                                    </p>
                                    <p>
                                        Подарок из категории кухня и посуда подойдет и тем, кто к кухне отношения никакого не имеет, и готовить не умеет.
                                        Подарки на тему кухня и посуда – это универсальные подарки. Что объединяет все эти праздники? Общий праздничный стол и обед!
                                        а где собираются все члены семьи вместе? на кухне за завтраком или обедом.
                                        Поэтому и кухонная утварь, атрибуты и сувениры на тему кухня и посуда,
                                        гармонируют с любым праздником и мероприятием.
                                    </p>
                                    <p>
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/kuhnya/girl_drink_coffee.png" style="line-height:230px;float:right;margin:10px;">
                                            <img src="~/Images/Artikles/kuhnya/girl_drink_coffee.png" alt="Термосы и термокружки" style="max-height:230px;" />
                                        </a>
                                        Эти подарки несут
                                        в себе домашний уют и тепло. Подаренная на день св. валентина <a href="/Home/SubCategory?id=1621&actName=subcategory" class="artikle_link">кружка</a>,
                                        будет согревать своего обладателя или обладательницу не только горячим чаем,
                                        но и греть душу переданными через нее любовью и заботой.
                                    </p>
                                    <p>
                                        Категория кухня и посуда содержит в себе 12 разделов на отдельные кухонные темы.
                                        Первым пунктом идет раздел <a href="/Home/SubCategory?id=1618&actName=subcategory" class="artikle_link">винные наборы</a>. В этом разделе собраны подарки
                                        и сувениры как для женщин, так и для мужчин, которые ценят богатый вкус вина
                                        и готовы красиво оформить процесс его употребления. Нанесение логотипа на такие сувениры неуместно,
                                        но вот нанести памятную фразу на подарок методом лазерной гравировки – будет весьма кстати.
                                    </p>
                                    <p>
                                        Для ценителей коктейлей и владельцам барных стоек в своей квартире,
                                        любителей шумных и заводных вечеринок, подарки из разделала
                                        <a href="/Home/SubCategory?id=1619&actName=subcategory" class="artikle_link">наборы для коктейлей и бара</a>, наверняка придутся по вкусу.
                                    </p>
                                    <p>
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/kuhnya/stakan.jpg" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/kuhnya/stakan.jpg" alt="Стакан с двойным стеклом" style="max-height:230px;" />
                                        </a>
                                        <a href="/Home/SubCategory?id=1620&actName=subcategory" class="artikle_link"> Бокалы, стаканы, рюмки</a> – это универсальный подарок на все случаи жизни,
                                        который всегда будет нужен и должен быть на кухне всегда под рукой.
                                        В этом разделе представлены разнообразные по дизайну и действительно красивые сувениры.
                                    </p>
                                    <p>
                                        Купить подарочные кружки оптом под нанесение логотипа можно в разделе <a href="/Home/SubCategory?id=1624&actName=subcategory" class="artikle_link">кружки и чашки</a>.
                                        Здесь собраны и дорогие фарфоровые кружки и пластиковые недорогие.
                                        Есть продукция известных брендов. Для нанесения логотипа подойдут
                                        методы тампопечати, <a class="artikle_link" href="/Home/Decal">надглазурная деколь</a> и другие.
                                    </p>
                                    <p>
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/kuhnya/termos.jpg" style="line-height:230px;float:right;margin:10px;">
                                            <img src="~/Images/Artikles/kuhnya/termos.jpg" alt="Термосы и термокружки" style="max-height:230px;" />
                                        </a>
                                        <a href="/Home/SubCategory?id=1622&actName=subcategory" class="artikle_link">Термокружки</a> – отдельная тема для рыночных торговцев, таксистов, дальнобойщиков,
                                        полицейских, военных, и других представителей профессий, связанных с испытанием холодом.
                                        А так же, термокружки пригодятся чтобы весело провести время на зимнем отдыхе,
                                        лыжной прогулке, рыбалке. Более актуальный в этом плане товар - это <a href="/Home/SubCategory?id=1623&actName=subcategory" class="artikle_link">термосы</a>.
                                        Даже наш президент частенько берет с собой термос с горячим чаем.
                                        Так же термосы популярны среди спортсменов.
                                    </p>
                                    <p>
                                        Универсальный, красивый и приятный подарок можно выбрать в разделах <a href="/Home/SubCategory?id=1627&actName=subcategory" class="artikle_link">кухонные наборы и предметы</a>,
                                        <a href="/Home/SubCategory?id=1626&actName=subcategory" class="artikle_link">наборы посуды</a>, <a href="/Home/SubCategory?id=1629&actName=subcategory" class="artikle_link">сувениры из фарфора</a>.
                                        Все это не оставит равнодушными ваших партнеров, коллег и любимых.
                                        Если чего-то, что вы искали, вы не встретили на страницах нашего интернет магазина,
                                        наши менеджеры удовлетворят ваши пожелания и предоставят подходящий подарок. Ждем ваших звонков! <span class="artikle_link">8-800-333-50-90</span>

                                    </p>
                                    <p class="article_item_nav">
                                        <<< <a href="/articles">К списку статей</a> | <a href="/">Каталог продукции</a> |
                                        <a href="/Home/SubCategory?id=568&actName=cat">Кухня и посуда</a>  | <a href="/contacts">Реквизиты</a>>>>
                                    </p>
                                </section>
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
            </div>
        </div>
    </div>
</div>








