@model EditPress.Ru.Models.CategoryesViewModel
@{
    ViewBag.Title = "Power Bank мультикабель";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <tr>
        <td style="vertical-align: top;">
            @{Html.RenderPartial("_CatListPartial", Model);}

        <td style="vertical-align:top;padding:20px 10px 40px 40px;">
            <article itemscope itemtype="http://schema.org/Article">
                <h1 itemprop="name" style="">Каталог компании ЭдитПресс пополнился новинкой – начиная с августа 2017 года в нашем каталоге  появилось универсальное зарядное устройство, мультикабель.</h1>
                <meta itemprop="inLanguage" content="ru" />
                <section itemprop="articleBody">
                    <div style="padding-left:80px;">
                        <p>
                            <b>Стандартный набор предполагает 5 кабелей и кабель USB –</b><br />
                            - USB 2.0 кабель<br />
                            - мини USB кабель<br />
                            - микро USB кабель<br />
                            - TYPE C кабель<br />
                            - iPhone 4 кабель<br />
                            - iPhone 5/6/7/8/Х кабель
                        </p>
                        <p >
                            На заказ можно изготовить мультикабель  6 в 1, добавив один из кабелей на выбор.
                        </p>
                        <p >
                            Всегда в наличии 3 основных модели, в зависимости от головной части:
                        </p>
                        <p>
                            <b> 1)</b><br />
                            <a class="fancybox" rel="group" href="~/Images/News/MultyKabel_new/multycabel02.jpg" title="Power Bank с мультикабелем" style="line-height:230px;margin:10px;">
                                <img src="~/Images/News/MultyKabel_new/multycabel02.jpg" alt="Power Bank с мультикабелем" style="max-height:230px;" />
                            </a>
                        </p>
                        <p>
                            <b>2)  Головная часть с подсветкой</b><br />
                            <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/News/MultyKabel_new/multycabel03.jpg" title="Power Bank с мультикабелем" style="line-height:230px;margin:10px;">
                                <img src="~/Images/News/MultyKabel_new/multycabel03.jpg" alt="Power Bank с мультикабелем" style="max-height:230px;" />
                            </a>
                        </p>
                        <p>
                            <b>3) Головная часть с карабином</b><br />
                            <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/News/MultyKabel_new/multycabel03.jpg" title="Power Bank с мультикабелем" style="line-height:230px;margin:10px;">
                                <img src="~/Images/News/MultyKabel_new/multycabel03.jpg" alt="Power Bank с мультикабелем" style="max-height:230px;" />
                            </a>
                        </p>

                        <p > ВОЗМОЖНО ИЗГОТОВЛЕНИЕ ГОЛОВНОЙ ЧАСТИ ЗАРЯДНОГО УСТРОЙСТВА ИНДИВИДУАЛЬНОЙ ФОРМЫ</p>
                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/News/MultyKabel_new/multycabel05.jpg" title="Power Bank с мультикабелем" style="line-height:230px;margin:10px;">
                            <img src="~/Images/News/MultyKabel_new/multycabel05.jpg" alt="Power Bank с мультикабелем" style="max-height:230px;margin-left:5%;" />
                        </a>
                        <p style="font-weight:700;padding-top:50px;">
                            (один из возможных вариантов компоновки кабелей)
                        </p>
                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/News/MultyKabel_new/multycabel06.jpg" title="Power Bank с мультикабелем" style="line-height:230px;margin:10px;">
                            <img src="~/Images/News/MultyKabel_new/multycabel06.jpg" alt="Power Bank с мультикабелем" style="max-height:230px;margin-left:5%;" />
                        </a>
                        <p style="font-weight:700;padding-top:50px;">Доступны следующие цвета</p>
                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/News/MultyKabel_new/multycabel07.jpg" title="Power Bank с мультикабелем" style="line-height:230px;margin:10px;">
                            <img src="~/Images/News/MultyKabel_new/multycabel07.jpg" alt="Power Bank с мультикабелем" style="max-height:230px;margin-left:5%;" />
                        </a>
                        <p >
                            Другие цвета доступны при заказе от 4000 штук.
                        </p>
                        <p style="font-weight:700;padding:50px 0px 0px 30px;">
                            Примеры нанесения логотипа на универсальный зарядный мультикабель
                        </p>
                        <a class="fancybox" rel="group" href="~/Images/News/MultyKabel_new/multycabel08.jpg"><img src="~/Images/News/MultyKabel_new/multycabel08.jpg" style="max-width:200px;" alt="Логотип на Мультикабель" /></a>
                        <a class="fancybox" rel="group" href="~/Images/News/MultyKabel_new/multycabel09.jpg"><img src="~/Images/News/MultyKabel_new/multycabel09.jpg" style="max-width:200px;" alt="универсальный зарядный мультикабель" /></a>
                        <a class="fancybox" rel="group" href="~/Images/News/MultyKabel_new/multycabel10.jpg"><img src="~/Images/News/MultyKabel_new/multycabel10.jpg" style="max-width:200px;" alt="мультикабель" /></a>
                        <a class="fancybox" rel="group" href="~/Images/News/MultyKabel_new/multycabel9.jpg"><img src="~/Images/News/MultyKabel_new/multycabel9.jpg" style="max-width:200px;" alt="Логотип на Мультикабель" /></a>
                        <a class="fancybox" rel="group" href="~/Images/News/MultyKabel_new/multycabel7.jpg"><img src="~/Images/News/MultyKabel_new/multycabel7.jpg" style="max-width:200px;" alt="Логотип на Мультикабель" /></a>
                        <a class="fancybox" rel="group" href="~/Images/News/MultyKabel_new/multycabel6.jpg"><img src="~/Images/News/MultyKabel_new/multycabel6.jpg" style="max-width:200px;" alt="Логотип на Мультикабель" /></a>
                        <a class="fancybox" rel="group" href="~/Images/News/MultyKabel_new/multycabel5.jpg"><img src="~/Images/News/MultyKabel_new/multycabel5.jpg" style="max-width:200px;" alt="Логотип на Мультикабель" /></a>
                        <a class="fancybox" rel="group" href="~/Images/News/MultyKabel_new/multycabel4.jpg"><img src="~/Images/News/MultyKabel_new/multycabel4.jpg" style="max-width:200px;" alt="Логотип на Мультикабель" /></a>
                        <a class="fancybox" rel="group" href="~/Images/News/MultyKabel_new/multycabel3.jpg"><img src="~/Images/News/MultyKabel_new/multycabel3.jpg" style="max-width:200px;" alt="Логотип на Мультикабель" /></a>
                        <a class="fancybox" rel="group" href="~/Images/News/MultyKabel_new/multycabel01.jpg"><img src="~/Images/News/MultyKabel_new/multycabel01.jpg" style="max-width:200px;" alt="Логотип на Мультикабель" /></a>
                        <a class="fancybox" rel="group" href="~/Images/News/MultyKabel_new/multycabel1.png"><img src="~/Images/News/MultyKabel_new/multycabel1.png" style="max-width:200px;" alt="Логотип на Мультикабель" /></a>
                    </div>
                    <p style="padding-top:50px;">
                        Компания ЭдитПресс следит за поступающими на рынок новинками и постоянно пополняет свой
                        каталог новыми товарами. Универсальный мультикабель представляет собой удобное и практичное устройство,
                        которое получило широкое распространение в связи с тем, что количество разнообразных гаджетов в нашей жизни
                        неуклонно растет. Но ни у кого не вызывает энтузиазма перспектива носить с собой огромное
                        количество различных зарядных устройств, чтобы поддерживать свои гаджеты в работоспособном состоянии.
                        Именно поэтому, в последнее время, появляются устройства, способные решить эту проблему, такие как универсальный мультикабель.
                    </p>
                    <p>
                        Благодаря очевидной практической пользе, мультизарядные устройства, в последнее время, используются компаниями в рекламных целях, для продвижения своего бренда.
                    </p>
                    <p>
                        Из-за невысокой цены устройства и его широкой востребованности, мультикабель с логотипом часто используется в промо акциях,
                        является популярным подарком для сотрудников и партнером. Для персонализации доступны такие виды нанесения
                        логотипа как тампопечать, УФ-печать, шелкография и заливка смолой.
                    </p>
                    <p>
                        Благодаря широкой цветовой гамме, покупатель имеет возможность выбрать мультикабель подходяшего цвета.
                    </p>
                    <p style="font-weight:800;">
                        Все подробности по комплектации, нанесению логотипа, цвету мультикабеля, цене и пр. уточняйте у наших менеджеров по телефону 8 800 333 5090
                    </p>


                    <p style="background-color:#b6ff00;margin-top:50px;">
                        <<< <a href="/articles/news" >Новости</a> | <a href="/" >Каталог продукции</a> |
                        <a href="/Home/Item/?id=3b1fc51c-32fa-4ace-ac46-aa098d60d719" >Power Banks мультикабель</a>  | <a href="/contacts" >Реквизиты</a>>>>
                    </p>
                </section>
            </article>

    </tr>
</table>







