@{
    ViewBag.Title = "Пасхальные сувениры оптом!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>

<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div style="padding:5px 15px 20px 15px;">
                <table>
                    <tr>
                        <td style="vertical-align:top;padding:20px 10px 40px 40px;">
                            <article itemscope itemtype="http://schema.org/Article">
                                <h1 itemprop="name" style="text-align:center;">Подарки на пасху по оптовым ценам!</h1>
                                <meta itemprop="inLanguage" content="ru" />
                                <section itemprop="articleBody">
                                    <p>
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/Pasha/Pasha_suvenir_kolokol.jpg" title="Пасхальные сувениры оптом" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/Pasha/Pasha_suvenir_kolokol.jpg" alt="Подарки на пасху оптом" style="max-height:230px;" />
                                        </a>
                                        Идет 2017 год, вокруг, как и сто лет назад идут войны, бушуют оранжевые революции,
                                        а в России скоро будет светлый праздник пасхи. Несмотря, что этот праздник христианский и
                                        православный, есть мнение, что его корни уходят глубоко в прошлое. Поэтому он близок не
                                        только истинным православным людям, но его чтут атеисты и вообще все население
                                        нашей страны. Неслучайно этот праздник отмечается весной, когда природа пробуждается
                                        ото сна, сходит снег, и начинается жаркая летняя жизнь после трудной и холодной зимы.
                                        И, конечно же, в этот праздник нельзя обойтись без подарков и украшений.
                                    </p>
                                    <p>
                                        <a href="/Home/Item/?id=0ab2079d-8ecb-4f55-abff-73a7e9ef399b" class="artikle_link">Подарки на Пасху</a> имеют свою специфику и тематику. Несмотря на православный свой характер,
                                        не может этот праздник не проявить себя и в светском выражении. В некоторых компаниях
                                        руководители устраивают выходной своим подчиненным или дарят корпоративные сувениры с пасхальной
                                        тематикой. Кто-то проводит светские мероприятия с православной строгостью,
                                        в подготовке которых участвуют <a href="/Home/SubCategory?id=578" class="artikle_link">рекламные материалы</a> с христианской символикой.
                                        Компания ЭдитПресс  профессионально обеспечит такого рода вечеринки и встречи флаерами,
                                        визитками, плакатами, <a href="/Home/SubCategory?id=1708" class="artikle_link">воздушными шарами</a>,
                                        <a href="/Home/Search?query=Атласные+ленты&search-btn=Искать" class="artikle_link"> лентами</a> и другой полиграфической и рекламной продукцией.
                                    </p>
                                    <p>
                                        Предварительно перед праздником пасхи идет длительный пост.
                                        Поэтому на сам праздник часто дарят <a href="/Home/Cat?id=577" class="artikle_link">сладкие подарки</a>. Ну и, конечно же, как обойтись без традиционного
                                        <a href="/Home/Search?query=яйцо&search-btn=Искать" class="artikle_link">пасхального яйца</a>.
                                        В интернет-магазине компании ЭдитПресс есть раздел со сладкими подарками.
                                        Здесь Вы найдете и <a href="/Home/SubCategory?id=1695" class="artikle_link">сладкие подарочные наборы</a>,
                                        и <a href="/Home/SubCategory?id=1705" class="artikle_link">тульские пряники</a> с оригинальным дизайном и надписями, и пасхальные яйца из шоколада, а
                                        так же любую другую продукцию из шоколадных фигурок со всевозможной символикой!
                                        <a href="/Home/Consult" class="artikle_link">Заполните форму</a> с Вашими пожеланиями, или напишите в чат на сайте,
                                        мы Вам обязательно поможем и выполним все в лучшем виде!
                                    </p>
                                    <p>
                                        Рекламно-полиграфический холдинг ООО «Эдит Пресс в Москве» чтит праздник Пасхи и готов обеспечить
                                        Ваше мероприятие любой полиграфической и рекламной продукцией. Кроме этого, в нашем Интернет магазине
                                        Вы найдете широкий ассортимент сувениров и подарков. Если чего там и нет,
                                        то ждем Ваших звонков – мы найдем и доставим все, что Вы пожелаете, а так же нанесем логотип
                                        на любую поверхность <a href="/uslugy" class="artikle_link">самыми современными способами печати и гравировки</a>.
                                    </p>
                                    <p>
                                        Наш бесплатный номер: <span class="artikle_link">8-800-333-50-90</span>.
                                    </p>
                                    <p class="article_item_nav">
                                        <<< <a href="/articles">К списку статей</a> | <a href="/">Каталог продукции</a> |
                                        <a href="/Home/Item/?id=a8d78871-6ca9-45bf-b9f1-a2c7fe8f9519">Подарки на пасху</a>  | <a href="/contacts">Реквизиты</a>>>>
                                    </p>
                                </section>
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
            </div>
        </div>
    </div>
</div>






 

   
    
