@{
    ViewBag.Title = "Power Banks!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>

<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div style="padding:5px 15px 20px 15px;">
                <table>
                    <tr>
                        <td style="vertical-align:top;padding:20px 10px 40px 40px;">
                            <article itemscope itemtype="http://schema.org/Article">
                                <h1 itemprop="name" style="text-align:center;">Power Banks - новая эра мобильности!</h1>
                                <meta itemprop="inLanguage" content="ru" />
                                <section itemprop="articleBody">
                                    <p>
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/PowerBank/Altavoz-bluetooth-Multi-function-5-в-1-Велосипед-Bluetooth-Динамик-2600-мАч-мобильный-банк-силы-СВЕТОДИОДНЫЙ.jpg" title="Power Bank с динамиком" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/PowerBank/Altavoz-bluetooth-Multi-function-5-в-1-Велосипед-Bluetooth-Динамик-2600-мАч-мобильный-банк-силы-СВЕТОДИОДНЫЙ.jpg" alt="Power Bank с динамиком" style="max-height:230px;" />
                                        </a>
                                        <b>Что такое Power Bank?</b>
                                        Power Bank – это, проще говоря, внешний аккумулятор с usb интерфейсом.
                                        Используется для зарядки огромного многообразия мобильных устройств, которые используют для зарядки usb интерфейс.
                                        Почему Power Bank так популярен и кому он может быть полезен?  Это устройство любят в основном люди с активным образом жизни.
                                        Мобильники, <a href="/Home/SubCategory?id=1683" class="artikle_link">mp3 плееры</a>, планшеты, смартфоны, GPS навигаторы, экшен камеры, цифровые фотоаппараты – все эти электронные спутники
                                        человека и <a href="/Home/SubCategory?id=575" class="artikle_link">гаджеты</a>  склонны разрядиться в самый неподходящий момент, да и еще где-нибудь в горах, или лесу, или там,
                                        где нет розетки в 220 вольт под рукой. А если и есть, то стоять Вам возле нее далеко не резон и вообще некогда.
                                        Или утром на пробежку с любимым плеером, а он разряжен? Да много ситуаций житейских можно привести,
                                        где power bank придется  как нельзя  к стати. Иногда его выполняют как комбинированное устройство, чаще всего с LED фонариком,
                                        <a class="fancybox" rel="group" href="~/Images/Artikles/PowerBank/zaryadnoe-ustroystvo-ray-1.jpg" title="Power Bank с фонариком" style="line-height:230px;float:right;margin:10px;">
                                            <img src="~/Images/Artikles/PowerBank/zaryadnoe-ustroystvo-ray-1.jpg" alt="Power Bank с фонариком" style="max-height:230px;" />
                                        </a>
                                        но могут встроить mp3 плеер или наполнить его каким-то еще дополнительным функционалом,
                                        изготовить несколько выходных  usb портов, добавить динамик для мобильного.
                                        Например продается power bank набор для велосипедистов,
                                        который сочетает в себе  внешний динамик, фонарик, крепление на руль для самой батареи и крепление для смартфона.
                                    </p>
                                    <p></p>
                                    <b>Какой же Power BANK выбрать?</b>
                                    <p>
                                        По корпусу, материалу корпуса, формы, расцветки существует огромное количество Power BANK`ов.
                                        Если выбирать по внешнему виду-то можно себе подобрать именно то, к чему душа ляжет.
                                        Если судить с  технической стороны, то первое на что стоит обратить внимание – это на мощность.
                                        К тому же чем мощнее модель, тем она лучше, но и размер больше и вес становиться ощутимее.
                                        Каждые 5000 mAh весят около100 грамм. Поэтому  power bank необходимо выбирать под конкретное устройство.
                                    </p>
                                    <p>
                                        <b>Как правильно рассчитать количество возможных циклов зарядки Вашего устройства от power bank ?</b>
                                        Необходимо из мощности Power BANK вычесть <b>10-12%</b> (мощность потребляемая внутренней системой Power BANK
                                        для обеспечения собственной работоспособности), а оставшуюся цифру разделить на мощность батареи
                                        (она указана на батарее Вашего устройства, например телефона). Например,Power BANK мощностью <b>12 000 mA - 10% = 10800 mA.</b>
                                        Мощность батареи Вашего мобильного (например, <b>HTC Disaer V 1650 mA</b>)
                                        <b>10800/1650=6,55 раз</b> можно зарядить данный телефон при помощи <b>Power BANK мощностью 12 000 mA.</b>
                                        Ну и еще один практический совет по выбору power bank.  Обратите внимание на тип его аккумулятора.
                                        Самый популярный тип батареи используемый в Power Bank — Li-Ion
                                        аккумуляторы <b>типоразмера 18650</b>. Такие аккумуляторы обеспечивают необходимое для питания электронных
                                        устройств напряжение и большую емкость. Выходное напряжение – 3,6-3,7V. Типовая емкость: 2000-3000 mAh – самое распространенное значение 2500 mAh.
                                        Количество циклов зарядки 500-1000 (снижение номинального объема до 80%).
                                    </p>
                                    <p>
                                        <a class="fancybox" rel="group" href="~/Images/Artikles/PowerBank/zaryadnoe-ustroystvosolnechnyih-batareyah-1.jpg" title="Power Bank на солнечных батареях" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/PowerBank/zaryadnoe-ustroystvosolnechnyih-batareyah-1.jpg" alt="Power Bank на солнечных батареях" style="max-height:230px;" />
                                        </a>
                                        Есть еще более современный тип аккумулятора – это литий-полимерные аккумуляторы (Li-Polymer)
                                        Литий-полимерный аккумулятор — это усовершенствованная конструкция литий-ионного аккумулятора.
                                        В качестве электролита используется полимерный материал с включениями гелеобразного литий-проводящего наполнителя.
                                    </p>
                                    <p>
                                        Интересна к рассмотрению модель <a href="" class="artikle_link"></a>Power Bank с солнечной батареей.
                                        Такой аксессуар очень может пригодиться лыжникам и альпинистам. В горах много солнца, но нет ЛЭП и розеток!
                                        Оставайтесь всегда на связи с  Power Bank, зарядите свои экшен камеры!
                                    </p>
                                    <p>
                                        <a class="fancybox" rel="group" href="~/Images/Artikles/PowerBank/Фанатик-S1-Bluetooth-Открытый-Спикер-Велосипедов-Портативный-Сабвуфер-Нч-Динамики-4000-мАч-Power-Bank-свет-Крепление.jpg" title="Power Bank для велосипедистов" style="line-height:230px;float:right;margin:10px;">
                                            <img src="~/Images/Artikles/PowerBank/Фанатик-S1-Bluetooth-Открытый-Спикер-Велосипедов-Портативный-Сабвуфер-Нч-Динамики-4000-мАч-Power-Bank-свет-Крепление.jpg" alt="Power Bank для велосипедистов" style="max-height:230px;" />
                                        </a>
                                        Компания ЭдитПресс предлагает большой выбор дополнительных аккумуляторов для подзарядки гаджетов Power Bank.
                                        Мы работаем только оптом. У нас есть современные средства нанесения логотипа и гравировки на поверхности изделий.
                                        Звоните нам,<span class="artikle_link">8-800-333-50-90</span> мы обязательно Вам поможем с выбором подарков и сувениров.
                                    </p>
                                    <p class="article_item_nav">
                                        <<< <a href="/articles">К списку статей</a> | <a href="/">Каталог продукции</a> |
                                        <a href="/Home/SubCategory/1682?page=3">Power Banks</a>  | <a href="/contacts">Реквизиты</a>>>>
                                    </p>
                                </section>
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
            </div>
        </div>
    </div>
</div>















