
@{
    ViewBag.Title = "Ручки с индивидуальным клипом.";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.fancybox').fancybox();
    });
</script>

<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div style="padding:5px 15px 20px 15px;">
                <table>
                    <tr>
                        <td style="vertical-align:top;padding:20px 10px 40px 40px;">
                            <article itemscope itemtype="http://schema.org/Article">
                                <h2 itemprop="name" class="ArtName">Еще одна интересная разновидность бизнес-сувениров это Ручка с индивидуальным клипом.</h2>
                                <meta itemprop="inLanguage" content="ru" />
                                <section itemprop="articleBody">
                                    <p>
                                        <a href="/products/product/13482" style="float:right;margin:10px;">
                                            <img src="~/Images/Artikles/RuchkaWithKlip/ruchka_clip_culture.jpg" alt="Ручка с клипом культура" />
                                        </a>
                                        Компания <strong class="artikle_link">ЭдитПресс</strong> поставляет на российский рынок огромный выбор шариковых
                                        и перьевых <a href="/products/4" class="artikle_link">авторучек</a> от различных производителей,
                                        преимущественно из стран Европы, Северной Америки и Юго-Восточной Азии.
                                        Среди этого многообразия мы рады представить нашим клиентам
                                        такую разновидность ручек как ручки с индивидуальным клипом.
                                        Клип представляет собой функциональный элемент, крепление,
                                        которое позволяет прикреплять ручку к различным элементам одежды, записным книжкам и т.д.
                                        В зависимости от размера клип может стать отличной площадкой для размещения логотипа и другой персональной информации.
                                    </p>
                                    <p>
                                        Но наиболее интересное и необычное использование клипа для ручек – это создание клипов индивидуальной формы,
                                        в соответствии с пожеланиями клиента.
                                        В результате мы получаем уникальный сувенир - ручки с фигурным пластиковым клипом
                                        или ручки с индивидуальным клипов в виде логотипа.
                                        <strong>Ручки со специальными клипами</strong> приятно удивят и порадуют
                                        ваших деловых партнеров, сотрудников, клиентов.
                                        Также возможно изготовление ручек по индивидуальному дизайну.
                                        Ручки индивидуального дизайна или  <strong>ручки индивидуальные на заказ с логотипом</strong> это один из наиболее
                                        перспективных способов персонализации. Благодаря этому методу клиент получает запоминающийся
                                        и главное недорогой и очень эффективный бизнес сувенир.
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/RuchkaWithKlip/Ruchka_s_individualnym_klipom.png" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/RuchkaWithKlip/Ruchka_s_individualnym_klipom.png" alt="Ручка с индивидуальным клипом" style="max-height:230px;" />
                                        </a>
                                    </p>
                                    <p>
                                        При производстве ручек используются самые разные материалы – <a href="/products/57" class="artikle_link">пластик</a>,
                                        <a class="artikle_link" href="/products/product/12096">металл</a>, силикон, резина, пластик с покрытием софт-тач (soft-touch),
                                        кожа, различные кожзаменители, и даже такие экзотические для ручек материалы как
                                        <a href="/products/product/27957" class="artikle_link">дерево</a> и
                                        <a href="/products/product/70632" class="artikle_link">картон</a>.
                                        На все используемые в изготовлении ручек материалы можно нанести персонализацию – логотип клиента.
                                        Наше производство оснащено таким оборудованием, что логотип можно нанести разными способами,
                                        в зависимости от пожеланий клиента, а также от самой поверхности изделия.
                                    </p>
                                    <p>
                                        Самыми распространенными видами нанесения логотипа на <strong style="font-style:italic;">клипы</strong> являются <a class="artikle_link"></a>шелкография,
                                        <a href="/Uslugi/PadPrinting" class="artikle_link">тампопечать</a>, в том числе <strong>круговая тампопечать</strong>,
                                        <a href="/Uslugi/LaserEnrgaving" class="artikle_link">лазерная гравировка</a> логотипа.
                                        Также мы используем <a href="/uslugi/ufprinting" class="artikle_link">уф-печать</a>. Из-за огромного выбора методов и видов
                                        <strong style="font-style:italic;">нанесения логотипа на клипы</strong> для ручек
                                        клиентам бывает непросто в этом разобраться, но наши специалисты с радостью помогут вам сделать выбор
                                    </p>
                                    <p>
                                        В зависимости от используемого материала, а соответственно и себестоимости, ручки и соответственно и их клипы
                                        можно разделить на категории – это и бизнес подарки, и ручки для промо акций, ручки для сотрудников, а также ручки для клиентов.
                                        В зависимости от тиража ручек компания <strong class="artikle_link">ЭдитПресс</strong> предоствляет скидки своим клиентам.
                                    </p>
                                    <p>
                                        Наши постоянные клиенты и бизнес-партнеры знают, что компания <strong class="artikle_link">ЭдитПресс</strong> является прямым поставщиком корпоративных
                                        подарков и бизнес сувениров, и, наряду с сувенирами, представленными в нашем каталоге, мы имеем возможность поставлять
                                        <a href="/products/244" class="artikle_link">сувениры по индивидуальным запросам</a>, <strong>сувениры оптом на заказ</strong>.
                                    </p>
                                    <a href="/products/product/12070" style="margin:10px;">
                                        <img src="~/Images/Artikles/RuchkaWithKlip/Ruchka_clip_coffee.jpg" style="max-height:230px;" alt="Ручка с клипом кофе" />
                                    </a>
                                    <h2 class="ArtName">Выбирайте изготовление ручек с индивидуальным клипом в компании ЭдитПресс и 
                                    получайте выгодные условия сотрудничества, кратчайшие сроки, приятные цены</h2>
                                    <div style="padding:20px 10px 30px 10px;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-between;">
                                       @for (int i = 1724; i < 1774; i++)
                                       {
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/RuchkaWithKlip/IMG_@i-12-07-18-01-10.JPG"
                                           style="max-width:150px;margin:10px;">
                                            <img src="~/Images/Artikles/RuchkaWithKlip/IMG_@i-12-07-18-01-10.JPG" alt="Ручка с индивидуальным клипом"  />
                                        </a>
                                            
                                       }
                                    </div>
                                    <p class="article_item_nav">
                                        <<< <a href="/articles">К списку статей</a> | <a href="/">Каталог продукции</a> |
                                        <a href="/products/300">Ручки с индивидуальным клипом оптом</a>  | <a href="/contacts">Реквизиты</a>>>>
                                    </p>
                                </section>
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
            </div>
        </div>
    </div>
</div>








