@{
    ViewBag.Title = "Ручки с логотипом";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>

<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div style="padding:5px 15px 20px 15px;">
                <table>
                    <tr>
                        <td style="vertical-align:top;padding:20px 10px 40px 40px;">
                            <article itemscope itemtype="http://schema.org/Article">
                                <h1 itemprop="name" style="text-align:center;">Ручки с логотипом -  от компании “ЭдитПресс”</h1>
                                <meta itemprop="inLanguage" content="ru" />
                                <section itemprop="articleBody">
                                    <p>
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/Ruchka/Ruchka2.jpg" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/Ruchka/Ruchka2.jpg" alt="Ручки, под нанесение логотипа" style="max-height:230px;" />
                                        </a>
                                        <a href="/Home/SubCategory/559?page=2&actName=cat" class="artikle_link">Купить ручку</a> в нашем интернет магазине очень просто.
                                        Зачем же покупать ручку в мире, где <a href="/Home/SubCategory/575?page=5&actName=cat" class="artikle_link">гаджеты</a> заполонили все пространство и стилус  успешно конкурирует с ручкой?
                                        Нет, дорогие друзья, гаджеты гаджетами, со всякими там стилусами, принтерами и прочими цифровыми премудростями,
                                        но ручку никто не отменял. В деловом мире нужны как <a href="/Home/SubCategory/1541?page=2&actName=subcategory" class="artikle_link">ручки бизнес-класса</a>, для руководителей и боссов,
                                        так и простые, удобные и дешевые письменные принадлежности простых офисных работников.
                                    </p>
                                    <p>
                                        Ручка крутого патрона призвана подчеркнуть его статус, наравне с прочими атрибутами в
                                        виде такой же крутой <a href="/Home/SubCategory/1559?page=8&actName=subcategory" class="artikle_link">записной книжки</a> или <a href="/Home/SubCategory/1583?page=3&actName=subcategory" class="artikle_link">дорогой запонки</a>
                                        к <a href="/Home/SubCategory/1639?page=2&actName=subcategory" class="artikle_link"> фирменной сорочке</a>.
                                        Обычные ручки  остаются для офисных работников самым доступным и недорогим
                                        средством, имеющимся под рукой, для записи самой горячей информации.
                                    </p>
                                    <p>
                                        Или например, с помощью ручки и листа бумаги можно нарисовать мелькнувшую в голове
                                        здравую мысль или идею, и потом воплотить ее в реальность.
                                    </p>
                                    <p>
                                        Компания ЭдитПресс предлагает Вам <a href="/Home/SubCategory?id=1538&actName=subcategory" class="artikle_link">приличный выбор ручек самых разных ценовых диапазонов.</a>
                                        Это могут быть и <a href="/Home/SubCategory?id=1549&actName=subcategory" class="artikle_link">ручки-флешки</a>, и <a href="/Home/SubCategory/1541?page=7&actName=subcategory" class="artikle_link">перьевые ручки или VIP категории</a>,
                                        и <a href="/Home/SubCategory?id=1534" class="artikle_link">ручки известных брендов</a>.
                                        Так же, никому не секрет, что <a href="/Home/SubCategory/1540?page=6&actName=subcategory" class="artikle_link">ручка - может быть отличным корпоративным сувениром</a> для Ваших офисных работников . Для этих целей хорошо подойдут
                                        <a href="/Home/SubCategory?id=1540&actName=subcategory" class="artikle_link">ручки оригинальные</a>.  На нашем сайте Вы можете ознакомиться с выбором по этой категории.
                                        Стоит обратить внимание и на раздел нашего интернет магазина,
                                        под названием <a href="/Home/SubCategory?id=1542&actName=subcategory" class="artikle_link">ручки в  подарочных наборах</a>.
                                    </p>
                                    <p>
                                        Этот товар различного ценового диапазона Вы можете купить у нас по оптовым
                                        ценам под нанесение логотипа.  Такие наборы прекрасно подойдут руководителям,
                                        менеджерам среднего звена и прочим отличившимся работникам в виде поощрения.
                                        Если в этой категории Вы не встретите того, что бы пришлось Вам по душе,
                                        можно сделать подарочные наборы самим. Потому что, кроме ручек, мы предлагаем хороший выбор
                                        <a href="/Home/SubCategory?id=1543&actName=subcategory" class="artikle_link">пеналов и футляров</a> к ним,  а так же <a href="/Home/SubCategory?id=1544&actName=subcategory" class="artikle_link">карандаши</a>
                                        и <a href="/Home/SubCategory?id=1545&actName=subcategory" class="artikle_link">маркеры</a>.
                                        К тому же наши менеджеры могут прекрасно сделать подарочные наборы для Вас сами.
                                        Вам достаточно просто позвонить нам по этому  номеру  <span class="artikle_link">8-800-333-50-90</span> и объяснить Ваши предпочтения.
                                    </p>
                                    <p>
                                        У нас Вы можете купить ручки оптом, и конечно же мы Вам нанесем на ручки логотип Вашей компании или другую информацию рекламного характера
                                        самыми современными способами быстро и оперативно. У нас прекрасно развита доставка и построена работа менеджеров.
                                        На обычные ручки Мы можем сделать нанесение логотипа методом <a href="/Home/PadPrinting" class="artikle_link">тампопечати</a>,
                                        а на дорогих экземплярах <a href="/Home/LaserEnrgaving" class="artikle_link">выполним лазерную гравировку</a>.
                                        Мы умеем работать с клиентами, наша задача сделать так, чтобы Вы остались довольны, это главная награда для нашей компании.
                                    </p>
                                    <p class="article_item_nav">
                                        <<< <a href="/articles">К списку статей</a> | <a href="/">Каталог продукции</a> |
                                        <a href="/Home/Cat?id=559">Ручки</a>  | <a href="/contacts">Реквизиты</a>>>>
                                    </p>
                                </section>
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
            </div>
        </div>
    </div>
</div>








