@{
    ViewBag.Title = "Сезонные подарки оптом. Нанесение логотипа.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>

<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div style="padding:5px 15px 20px 15px;">
                <table>
                    <tr>
                        <td style="vertical-align:top;padding:20px 10px 40px 40px;">
                            <article itemscope itemtype="http://schema.org/Article">
                                <h1 itemprop="name" style="text-align:center;">Сезонные подарки с логотипом от компании ЭдитПресс</h1>
                                <meta itemprop="inLanguage" content="ru" />
                                <section itemprop="articleBody">
                                    <p>
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/SezonniePodarki/Варежки.jpg" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/SezonniePodarki/Варежки.jpg" alt="Зимние подарки" style="max-height:230px;" />
                                        </a>
                                        Рынок сувенирной продукции неуклонно растет, но вместе с тем вопрос о том, что же подарить всегда остается открытым.
                                        Ведь с ростом предложения всевозможных подарков и сувениров встает трудный вопрос выбора из массы подарков и фирм,
                                        предлагающих сувенирную продукцию.
                                    </p>
                                    <p>
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/SezonniePodarki/Носки.jpg" style="line-height:230px;float:right;margin:10px;">
                                            <img src="~/Images/Artikles/SezonniePodarki/Носки.jpg" alt="Шерстяные носки с рисунком оптом" style="max-height:230px;" />
                                        </a>
                                        Вопрос какой выбрать подарок остается всегда актуальным, какой бы  на кануне праздник не стоял.
                                        День святого Валентина, 23 Февраля, 8 марта, профессиональные праздники.
                                        Праздник это всегда здорово! Напряженная работа в суровые и полные заботами трудовые будни должна
                                        поощряться руководством корпоративными  мероприятиями и отдыхом, и конечно же награждениями, призами и подарками.
                                    </p>
                                    <p>
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/SezonniePodarki/Набор для пикника.jpg" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/SezonniePodarki/Набор для пикника.jpg" alt="Набор для пикника" style="max-height:230px;" />
                                        </a>
                                        Компания Эдитпресс предлагает широкий ассортимент сувенирной продукции, <a href="/Home/SubCategory?id=1585" class="artikle_link">корпоративных</a> и <a href="/Home/SubCategory/562?page=1" class="artikle_link">бизнес подарков</a>,
                                        нанесение на нее логотипа Вашей компании всевозможными современными способами.
                                        Наши менеджеры помогут Вам <a href="/Home/Consult" class="artikle_link">решить проблему выбора подарка</a> .

                                        Если Вам некогда просматривать каталог нашего <a href="/articles/InernetMagazin" class="artikle_link">интернет магазина</a>  -  то просто позвоните нам, мы не оставим звонок без результата.
                                        И да, мы постараемся реализовать самые замысловатые Ваши пожелания, и если чего то нет на страницах каталога нашей продукции - мы это найдем и доставим!
                                    </p>
                                    <p>
                                        В этой заметке мы предлагаем ознакомится с разделом интернет магазина <a href="/Home/SubCategory/556?page=10" class="artikle_link">сезонные подарки</a>.
                                        Это Обширная тема для корпоративных покупок бизнес сувениров.
                                        Не всегда можно найти подарок конкретно к определенному празднику или мероприятию, но всегда можно найти товары по сезону
                                        - которые подойдут как нельзя к стати и при этом будут полезны.
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/SezonniePodarki/Шляпа.jpg" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/SezonniePodarki/Шляпа.jpg" alt="панамы пляжные" style="max-height:230px;" />
                                        </a>
                                    </p>
                                    <p>
                                        У Вас корпоративная культура и дресс-код? У нас Вы встретите хороший выбор <a href="/Home/SubCategory/570?page=1" class="artikle_link">одежды</a>.
                                        Например это могут быть  и варежки и стильные шарфы с шапками, и куртки, жилеты, мужские и женские рубашки,
                                        футболки бейсболки. На всю одежду мы можем нанести логотип. Это и объемная наклейка, и <a href="/Home/Fancywork" class="artikle_link">вышивка</a>,
                                        и <a href="/Home/Serigraphy" class="artikle_link">шелкография</a>, и другие методы нанесения логотипа.
                                    </p>
                                    <p>
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/SezonniePodarki/Myachi.png" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/SezonniePodarki/Myachi.png" alt="панамы пляжные" style="max-height:230px;" />
                                        </a>
                                        Готовясь к весенне-летнему сезону в наличии имеются <a href="/Home/SubCategory/1506?page=8" class="artikle_link">барбекю</a>,
                                        <a href="/Home/SubCategory/1506?page=2" class="artikle_link">дождевики</a>,
                                        <a href="/Home/SubCategory/1506?page=3" class="artikle_link">зонты</a>,
                                        <a href="/Home/SubCategory/1506?page=6" class="artikle_link"> пляжные игры</a>,
                                        панамки, полотенца, <a href="/Home/SubCategory/1506?page=7" class="artikle_link">сумки для пикников</a>. Вот такой например
                                        <a href="/Home/Item/?id=cc45112d-edd0-468b-a031-09afc50c9206" class="artikle_link">замечательный чемодан</a>.
                                        <a href="/Home/SubCategory/1506?page=11" class="artikle_link">Пледы для пикника</a>, пляжные мячи и тапочки и сумки. Очень стильным и приятным подарком будет
                                        <a href="/Home/SubCategory/1506?page=14" class="artikle_link">рюкзак</a>.
                                        Это очень полезная и нужная вещь для путешествий.
                                        Провести корпоративный коучинг возле моря под тенью пальм  - это модное течение Московских офисов, которое докатывается до областных центров России.
                                        Поэтому сотрудников просто необходимо обеспечить сувенирами соответствующей тематики.
                                        Очень практичны в быту и в путешествиях <a href="/Home/SubCategory/1506?page=16" class="artikle_link">сумки-холодильники</a>.
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/SezonniePodarki/Рюкзак.jpg" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/SezonniePodarki/Рюкзак.jpg" alt="Рюкзаки оптом. Нанесение логотипа" style="max-height:230px;" />
                                        </a>
                                    </p>
                                    <p>
                                        Таким образом, мы настоятельно рекомендуем ознакомится и иметь ввиду продукцию из раздела сезонные подарки.
                                        Если у Вас есть вопросы, предложения, пожелания - звоните <span class="artikle_link">
                                            8-800-333-50-90
                                        </span> , пишите в чат на сайте,
                                        шлите письма на <strong>e-mail:</strong>  <span class="artikle_link">info@editpress.ru</span>.  Мы всегда  к Вашим услугам.
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/SezonniePodarki/Топ женский.jpg" style="line-height:230px;float:right;margin:10px;">
                                            <img src="~/Images/Artikles/SezonniePodarki/Топ женский.jpg" alt="Топ женский" style="max-height:230px;" />
                                        </a>
                                    </p>
                                    <p class="article_item_nav">
                                        <<< <a href="/articles">К списку статей</a> | <a href="/">Каталог продукции</a> |
                                        <a href="/Home/SubCategory/556?page=2">Сезонные подарки</a>  | <a href="/contacts">Реквизиты</a>>>>
                                    </p>
                                </section>
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
            </div>
        </div>
    </div>
</div>







 
    
