@{
    ViewBag.Title = "Подарки на 8 марта оптом!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>

<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div style="padding:5px 15px 20px 15px;">
                <table>
                    <tr>
                        <td style="vertical-align:top;padding:20px 10px 40px 40px;">
                            <article itemscope itemtype="http://schema.org/Article">
                                <h1 itemprop="name" style="text-align:center;">Подарки на 8 марта по оптовым ценам!</h1>
                                <meta itemprop="inLanguage" content="ru" />
                                <section itemprop="articleBody">
                                    <p>
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/VosmoeMarto/Lubov.jpg" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/VosmoeMarto/Lubov.jpg" alt="Подарки на 8 марта оптом" style="max-height:230px;" />
                                        </a>
                                        Прошел праздник 23 февраля и мы с нетерпением ждем теперь праздник 8 марта. Почему с нетерпением? Да как минимум по трем причинам!
                                        Во-первых, это выходной день! Во-вторых, Все женщины в этот день будут нарядные и в третьих, женщины ждут,
                                        а мужчины готовы им дарить самые разные подарки, заботу и внимание.
                                    </p>
                                    <p>
                                        Где же купить подарки на 8 марта оптом, со скидкой на весь коллектив? К тому же коллектив у всех разный, у кого-то много сотрудниц,
                                        у кого-то мало. Где нужно купить много сувениров, но подешевле, где количество подарков невелико, но нужно подчеркнуть значимость и ценность
                                        сотрудниц в коллективе реально чем-то дорогим и незабываемым.
                                    </p>
                                    <p>
                                        В компании ЭдитПресс в Москве всегда в наличии большой ассортимент бизнес-подарков и деловых сувениров на все случаи жизни.
                                        У нас так же можно заказать услугу нанесения логотипа на сувенирную продукцию. Мы имеем солидное предложение выбора <a href="/uslugy" class="artikle_link">услуг по нанесению</a>.
                                    </p>
                                    <p>
                                        В нашем интернет магазине Вы можете получить квалифицированную <a href="/Home/BriefList" class="artikle_link">помощь по выбору подарков</a>, у нас профессиональный штат менеджеров,
                                        и они знают свое дело, угадывают Ваши потребности и в курсе ассортимента на складах.
                                    </p>
                                    <p>
                                        Ознакомиться с предложением <a href="/Home/SubCategory/1512?page=3" class="artikle_link">подарков к 8 марта</a> можно в нашем интернет магазине. На женский взгляд, в этом плане Вам будут интересны следующие разделы.
                                        <a href="/Home/SubCategory?id=1506" class="artikle_link">Весна лето</a> - отличная категория, здесь есть много полезных и недорогих подарков для женщин, которые им пригодятся в повседневной жизни или на отдыхе.
                                        К похожим предметам можно отнести категорию туризм и спорт, там есть немало подарков для девушек и женщин ведущих активный образ жизни.
                                        Не стоит оставлять без внимания <a href="/Home/SubCategory/1512?page=5" class="artikle_link">раздел сайта</a> из категории подарки к праздникам. Он посвящен именно теме замечательного праздника - международного женского дня.
                                        Здесь немало прекрасных сувениров для наших милых и любимых мам, бабушек, девушек и дочек.
                                    </p>
                                    <p>
                                        Восьмое марта - это праздник весны и любви, он красив и очарователен, поэтому нельзя не осветить  разделы сайта, посвященные женской красоте.
                                        Это 2 раздела из категории <a href="/Home/SubCategory?id=572" class="artikle_link">Дом и Уют</a>, и раздел <a href="/Home/SubCategory?id=1584" class="artikle_link">подарки для женщин</a> из категории VIP-подарки.
                                        Но обратите внимание в этой категории действительно ценные подарки и сувениры и очень дорогие.
                                    </p>
                                    <p>
                                        Так же не стоит забывать, что наши дамы обожают сладкое! В категории <a href="/Home/SubCategory?id=577" class="artikle_link">сладкие подарки</a> можно найти массу оригинальных
                                        и вместе с тем вкусных сувениров на тему 8 марта! Если чего-то нет конкретно на страницах сайта, звоните нам, мы исполним Ваши фантазии из шоколада!
                                        Наши женщины в основе своей большие мастерицы кухонного дела, а уж что касается способностей по созданию уюта,
                                        им равных нет, категории нашего интернет магазина <a href="/Home/SubCategory?id=568" class="artikle_link">Кухня и посуда</a>, Дом и уют - подадут
                                        Вам большую пищу для размышлений на тему выбора подарков для женщин на 8 марта.
                                        <a class="fancybox" rel="group" href="~/Images/Artikles/VosmoeMarto/fleshka_konfetka.jpg" style="line-height:230px;float:right;margin:10px;">
                                            <img src="~/Images/Artikles/VosmoeMarto/fleshka_konfetka.jpg" alt="Подарки на 8 марта флешки" style="max-height:230px;" />
                                        </a>
                                    </p>
                                    <p>
                                        И вообще выбрать подарок на 8 марта с нашим магазином вовсе не проблема! Кроме перечисленных выше категорий в любой из оставшихся можно легко подобрать
                                        для наших милых и любимых женщин полезный сувенир, от флешек и ручек, до блокнотиков, календариков и ежедневников.
                                        Главное не сам подарок, главное повседневное внимание и забота о наших любимых женщинах.
                                        С праздником весны! Звоните по выбору подарков <span class="artikle_link">8-800-333-50-90</span>, мы ждем Вас!
                                    </p>
                                    <p class="article_item_nav">
                                        <<< <a href="/articles">К списку статей</a> | <a href="/">Каталог продукции</a> |
                                        <a href="/Home/SubCategory/1512?page=2">Подарки на 8 марта</a>  | <a href="/contacts">Реквизиты</a>>>>
                                    </p>
                                </section>
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
            </div>
        </div>
    </div>
</div>








   
   