@{
    ViewBag.Title = "Зонты оптом в Москве!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<script src="~/Content/fancybox/jquery.fancybox.pack.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
	    $('.fancybox').fancybox();
    });
</script>

<h1 class="zagolovok">@ViewBag.Title</h1>
<div class="main" style="color:#808080;">
    <div class="product-container">
        <div class="product-holder">
            <div style="padding:5px 15px 20px 15px;">
                <table>
                    <tr>
                        <td style="vertical-align:top;padding:20px 10px 40px 40px;">
                            <article itemscope itemtype="http://schema.org/Article">
                                <h1 itemprop="name" style="text-align:center;">Зонты оптом под логотип!</h1>
                                <meta itemprop="inLanguage" content="ru" />
                                <section itemprop="articleBody">
                                    <p>
                                        <a class="fancybox" id="main-pic-a" rel="group" href="~/Images/Artikles/Zont/Zont-hanter.png" title="Зонт охотник" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/Zont/Zont-hanter.png" alt="Оригинальный зонт охотник" style="max-height:230px;" />
                                        </a>
                                    </p>
                                    <p>
                                        В современном мире зонт немного утратил свои позиции. В бешенном ритме крупных городов,
                                        мы не успев выскочить из автомобиля, попадаем в метро, оттуда в такси или под крышу торгового центра.
                                        Но, несмотря на такое положение вещей, этот аксессуар, а для кого-то и предмет первой необходимости остается вполне актуальным
                                        и желанным приобретением. Современные способы производства и мировая конкуренция создали условия для существования
                                        сотней моделей и видов зонтов. Для кого-то зонт это непосредственно повседневный предмет для защиты от непогоды,
                                        а для кого-то это статусный предмет, подчеркивающий стиль и положение в обществе своего владельца.
                                    </p>
                                    <p>
                                        В большом многообразии различных <a href="/Home/SubCategory?id=562&actName=cat" class="artikle_link">корпоративных подарков</a> зонт выступает одним из наиболее выгодных предметов.
                                        Особенно для Российской погоды. Дождь нас может застать и зимой и летом, а про осень с весной и говорить нечего.
                                        К тому же второй зонт, третий и так далее в шкафу  вовсе не будет лишним.
                                        Различные дизайнерские воплощения зонтов могут отлично дополнить стиль вашей одежды.
                                        А различные конструктивные особенности могут пригодиться в разных погодных условиях.
                                    </p>
                                    <a class="fancybox" rel="group" href="~/Images/Artikles/Zont/zont-zvezdnoe-nebo.jpg" title="Зонт звездное небо" style="line-height:230px;float:right;margin:10px;">
                                        <img src="~/Images/Artikles/Zont/zont-zvezdnoe-nebo.jpg" alt="Оригинальный зонт звездное небо" style="max-height:230px;" />
                                    </a>
                                    <h2>Какой зонт выбрать?</h2>
                                    <a class="fancybox" rel="group" href="~/Images/Artikles/Zont/Зонт-с-фонариком.jpg" title="Зонт c фонариком" style="line-height:230px;float:left;margin:10px;">
                                        <img src="~/Images/Artikles/Zont/Зонт-с-фонариком.jpg" alt="Оригинальный зонт с фонариком" style="max-height:230px;" />
                                    </a>
                                    <p>
                                        Выбор зонта зависит от того кому Вы его хотите подарить.
                                        Девушке ли молодому человеку или зрелому мужчине или женщине в возрасте.
                                        А так же это зависит от образа жизни человека, его стиля и социального статуса.
                                        На все случаи жизни Вы найдете зонты в Интернет магазине компании ООО &#171;Эдит Пресс&#187;.
                                    </p>
                                    <p>
                                        Здесь есть и дорогие экземпляры, и бюджетные предложения. И <a href="/products/AllProducts?queryString=складной+автоматический&ListCatId=1&ListCatId=2&ListCatId=3&ListCatId=4&ListCatId=5&ListCatId=6&ListCatId=7&ListCatId=8&ListCatId=9&ListCatId=10&ListCatId=11&ListCatId=12&ListCatId=13&ListCatId=14&ListCatId=15&ListCatId=16&ListCatId=17&ListCatId=18&ListCatId=19&ListCatId=20&ListCatId=21&ListCatId=22&ListCatId=23&ListCatId=24&ListCatId=243&ListCatId=244" class="artikle_link">Автоматические зонты</a>,
                                        и полуавтоматические, и механические, и <a href="/Home/SubCategory?id=1631&actName=subcategory" class="artikle_link">зонт-трость</a>,
                                        и есть другие <a href="/Home/SubCategory?id=1632&actName=subcategory" class="artikle_link">оригинальные предложения по зонтам</a>.
                                        Каждая из моделей зонта в свою очередь несет различные цветовые варианты
                                        исполнения и используемый материал самого купола и каркаса.
                                    </p>
                                    <a class="fancybox" rel="group" href="~/Images/Artikles/Zont/Зонт-трость.jpg" title="Зонт трость" style="line-height:230px;float:right;margin:10px;">
                                        <img src="~/Images/Artikles/Zont/Зонт-трость.jpg" alt="Зонт трость" style="max-height:230px;" />
                                    </a>
                                    <p>
                                        Все эти различия направлены на покорение своего ценителя и покупателя.
                                        А вот конструктивный вид самого зонта прямо таки влияет на эксплуатационные особенности.
                                        Складные зонты автоматы более компактны и маневренны в использовании, но менее надежны и прочны,
                                        чем <a href="/products/AllProducts?queryString=механический+складной&ListCatId=1&ListCatId=2&ListCatId=3&ListCatId=4&ListCatId=5&ListCatId=6&ListCatId=7&ListCatId=8&ListCatId=9&ListCatId=10&ListCatId=11&ListCatId=12&ListCatId=13&ListCatId=14&ListCatId=15&ListCatId=16&ListCatId=17&ListCatId=18&ListCatId=19&ListCatId=20&ListCatId=21&ListCatId=22&ListCatId=23&ListCatId=24&ListCatId=243&ListCatId=244" class="artikle_link">механические складные</a>. Зато их легко сложить до очень компактных размеров и поместить
                                        даже в женскую сумочку или рюкзак. Но попадать с таким зонтом под ливень с сильным ветром
                                        не рекомендуется – из-за наличия множества подвижных соединений он легко может сломаться под воздействием порывов ветра.
                                    </p>
                                    <p>
                                        <a href="/Home/SubCategory/1631?page=3&actName=subcategory" class="artikle_link">Зонт трость</a> в этом плане более надежен. Но в рюкзак или сумочку его никак не упаковать.
                                        Такой зонт больше подойдет пожилым людям. Его можно использовать и как зонт и как трость.
                                        Поэтому его штанга прочна как палка, спицы купола не имеют соединений и выполнены в виде монолитных изделий,
                                        а его купол большой и очень туго натянутый. С него легко соскальзывают капли дождя, и он остается почти сухим.
                                    </p>
                                    <p>
                                        На зонт-трость сильно похожи классические зонты, они тоже довольно таки громоздки и имеют как
                                        правило согнутую ручку, но при этом в сложенном состоянии имеют более компактный размер.
                                        <a class="fancybox" rel="group" href="~/Images/Artikles/Zont/Зонт-меч-джедая.jpg" title="Зонт трость меч джедая" style="line-height:230px;float:left;margin:10px;">
                                            <img src="~/Images/Artikles/Zont/Зонт-меч-джедая.jpg" alt="Зонт трость мечь джедая" style="max-height:230px;" />
                                        </a>
                                    </p>
                                    <p>
                                        Какой зонт Вам подойдет больше – решать только Вам, но мы всегда рады оказать <a href="/Home/Consult" class="artikle_link">помощь в выборе</a>.
                                        А так же доставим выбранный Вами товар в место назначения и выполним нанесение логотипа Вашей компании.
                                        Звоните <span class="artikle_link">8-800-333-50-90</span>, мы сделаем все, чтобы Вы остались довольны.
                                    </p>
                                    <p class="article_item_nav">
                                        <<< <a href="/articles">К списку статей</a> | <a href="/">Каталог продукции</a> |
                                        <a href="/Home/SubCategory/569?page=10&actName=cat">Зонты</a>  | <a href="/contacts">Реквизиты</a>>>>
                                    </p>
                                </section>
                            </article>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="sideBar1">
            <div class="section1">
                @Html.Partial("_PartialMenuSection")
            </div>
            <div class="sidebarHits">
                @{ Html.RenderPartial("_TopSalesPartial", LstProd); }
            </div>
        </div>
    </div>
</div>











                  


